.speaker-wrapper {
  cursor: pointer;
  width: 250px;
  height: 410px;

  padding: 16px 16px 0 16px;
  margin: 6px;

  box-shadow: 4px 4px 10px #bbb;
  border-radius: 14px;

  &:hover {
    background: transparent linear-gradient(180deg, #D04D9766 0%, #18396366 100%) 0% 0% no-repeat padding-box;
    box-shadow: 4px 4px 10px #0000001A;

    .speaker-image-wrapper .speaker-image {
      opacity: 0.8;
      background: rgba(0, 0, 0, .5);
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }
  }

  .speaker-image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 223px;
    margin-bottom: 22px;

    .speaker-image {
      border: 1px solid var(--white);
      border-radius: 10px;
    }
  }

  .speaker-info-wrapper {
    .speaker-fullname {
      font-size: 18px;
      font-weight: 600;
      height: 24px;
      margin-bottom: 13px;
    }

    .speaker-division {
      width: 16px;
      height: 2px;
      background: var(--ica-gray-2);
      margin-bottom: 11px;
    }

    .speaker-info {
      font-size: 14px;
      color: var(--content-text1);
    }
  }
}

@media screen and (max-width: 1199px) {
  .speaker-wrapper {
    font-size: 100%;
  }
}
