<div class="speaker-wrapper" (click)="detailFn.emit(speaker)">
  <div class="speaker-image-wrapper">
    <img class="speaker-image" [src]="speaker.photoUrl?speaker.photoUrl:'assets/img/default_lecturer.png'">
  </div>
  <div class="speaker-info-wrapper">
    <div class="speaker-fullname ellipsis">{{ speaker.fullNameMultilingual?speaker.fullNameMultilingual[curLang]:speaker.fullName }}</div>
    <div class="speaker-division"></div>
    <div class="speaker-info">
      <div class="speaker-company ellipsis line">{{ speaker.companyMultilingual?speaker.companyMultilingual[curLang]:speaker.company }}</div>
      <div class="speaker-title ellipsis line">{{ speaker.titleMultilingual?speaker.titleMultilingual[curLang]:speaker.title }}</div>
    </div>
  </div>
</div>
