<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <!-- 검색 -->
      <div class="category-wrapper">
        <ng-container *ngFor="let category of allCategories; let i = index">
          <button class="btn category-item" [ngClass]="{'active': i === curCategory}" (click)="setCategory(i)"
            [innerHTML]="category.categoryNameMultilingual?category.categoryNameMultilingual[curLang]:category.categoryName">
          </button>
        </ng-container>
      </div>

      <table class="document-list-table">
        <ng-container *ngIf="roles.roleClientDocument">
          <col style="width:70%">
          <col style="width:10%">
          <col style="width:10%">
        </ng-container>
        <ng-container *ngIf="!roles.roleClientDocument">
          <col style="width:85%">
          <col style="width:15%">
        </ng-container>
        <thead>
          <th class="text-center">{{'page-document.sessioname' | translate}}</th>
          <th class="text-left">{{'page-document.author' | translate}}</th>
          <th *ngIf="roles.roleClientDocument">{{'page-document.action' | translate}}</th>
        </thead>
        <tbody>
          <tr *ngFor="let document of documents; let i = index" [ngClass]="{'fix': document.isFixed}">
            <td class="title" (click)="downloadAttachment(document)">
              <div class="title-wrapper">
                <div class="title-text ellipsis line"
                  [innerHTML]="document.titleMultilingual?document.titleMultilingual[curLang]:document.title">
                </div>
                <div class="img-download">
                  <img src="../../../assets/img/icon-clip.png">
                </div>
              </div>
            </td>
            <td>
              <span class="text-left ellipsis line">
                {{document.author}}
              </span>
            </td>
            <td *ngIf="roles.roleClientDocument">
              <div class="d-flex justify-content-between">
                <button class="btn btn-warning" (click)="goUpdate(document.id)">Edit</button>
                <button class="btn btn-danger" (click)="confirmDelete(document.id)">Delete</button>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
      <div *ngIf="roles.roleClientDocument" class="btn-create">
        <button (click)="goCreate()" class="btn btn-success">Create</button>
      </div>
    </div>
  </div>
</div>
