<footer>
  <div class="footer-body">
    <div class="footer-flex d-flex justify-content-between">
      <div class="footer-content">
        <p class="footer-title">
          {{'footer.line1' | translate }}
        </p>
        <p class="footer-desc">
          {{'footer.line2' | translate }}<br>
          {{'footer.line3' | translate }}<br>
          {{'footer.line4' | translate }}
        </p>
      </div>
      <div class="support-logo">
        <img src="../../../assets/img/footer-support.png">
      </div>
    </div>
  </div>
</footer>
