footer {
  width: 100%;
  background: var(--gray6);
  padding: 0 32px;

  .footer-body {
    max-width: 1060px;
    margin: 0 auto;
    min-height: 230px;

    .footer-content {
      font-size: 14px;
      padding-top: 36px;
      padding-bottom: 32px;
      max-width: 1200px;
      // margin: 0 auto;

      .footer-title {
        color: #2E3233;
      }

      .footer-desc {
        color: #7F7F7F;
      }
    }

    .footer-flex {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (max-width:700px) {
      & {
        min-height: 360px;
      }

      .footer-content {
        padding-bottom: 0;
      }

      .support-logo {
        padding-top: 0;
      }

      .footer-flex {
        flex-direction: column;
      }
    }
  }

  .support-logo {
    padding-top: 36px;
    padding-bottom: 32px;
    align-self: center;

    img {
      height: 60px;
    }
  }
}
