$brandHeight: 46.01px;

header {
  .content-inner {
    padding: 0 !important;
    height: 220px;
    max-width: 100%;

    .header-top-container {
      background: var(--white);
      padding: 0 32px;
      height: 56px;
    }

    .header-bottom-container {
      background: var(--color-main);
      padding: 0 32px;
      height: 164px;
    }

    .header-top {
      max-width: 1200px;
      margin: 0 auto;
      height: 56px;

      display: flex;
      justify-content: space-between;

      .header-top-left {
        align-self: center;
        font-size: 16px;
        font-weight: 300;

        .myname {
          font-weight: 600;
          color: var(--black);
          text-decoration: underline;
        }
      }

      .header-top-right {
        align-self: center;
        font-size: 14px;
        display: flex;

        .log-in-out-wrapper {
          margin-right: 33px;

          a {
            color: var(--text-gray);
          }
        }

        .language-wrapper {
          .dropdown-toggle {
            color: var(--color-main);
          }
        }
      }
    }

    .header-bottom {
      max-width: 1200px;
      margin: 0 auto;
      height: 100%;

      .header-bottom-top {
        padding-top: 36.91px;
        margin-bottom: 24.08px;

        .header-logo {
          width: 222px;
          height: $brandHeight;
          display: flex;
          align-items: center;
          justify-content: center;
          background-image: url('/assets/img/logo-header.png');
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .header-bottom-bottom {
        font-size: 11px;

        nav {
          button.navbar-toggler {
            background: var(--white);
            width: 40px;
            height: 32px;
          }

          .menus {
            .navbar-nav {
              width: 100%;
              justify-content: space-between;

              .nav-item {
                align-self: center;

                .nav-link {
                  padding: 6px 20px;
                  text-align: center;
                  margin-right: 12px;
                  color: var(--white);

                  &.active {
                    border-radius: 14px;
                    background-color: var(--nav-link-active);
                    font-weight: 600;
                  }

                  &:hover {
                    border-radius: 14px;
                    background-color: var(--nav-link-active);
                  }

                  @media(max-width:1260px) {
                    & {
                      padding: 6px 10px;
                      margin-right: 2px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1070px) {

  .header-bottom-container {
    padding: 0 !important;
  }
}

@media (max-width: 991px) {
  .navbar {
    justify-content: flex-end;

    .btn-toggle {
      padding-right: 20px !important;
    }
  }

  header {
    .menus {
      background: var(--color-main);

      .navbar-nav {
        gap: 4px;

        .nav-item {
          width: 50%;
          margin: 0 auto;

          .nav-link {
            color: var(--white);

            &.active {
              border-radius: 60px;
              background-color: var(--nav-link-active);
            }

            &:hover {
              border-radius: 60px;
              background-color: var(--nav-link-active);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .header-top-container {
    .header-top {
      .header-top-left,
      .header-top-right {
        font-size: 10px !important;
      }
    }
  }
}
