<header class="fixed-top">
  <div class="content-inner">
    <div class="header-top-container">
      <div class="header-top">
        <div class="header-top-left">
          <div *ngIf="user">
            {{'header.hello' | translate}}
            <a [routerLink]="'/my-page'" class="myname">
              {{user.firstName?user.firstName+' ':''}}{{user.lastName?user.lastName+' ':''}}{{user.name}}
            </a>
            {{'header.sir' | translate}}
          </div>
        </div>

        <div class="header-top-right">
          <div class="log-in-out-wrapper" *ngIf="user; else isAuth">
            <a (click)="logout()">{{'header.logout' | translate}}</a>
          </div>
          <ng-template #isAuth>
            <div class="log-in-out-wrapper">
              <a [routerLink]="'/login'" [routerLinkActive]="'active'">{{'header.login' | translate}}</a>
            </div>
          </ng-template>
          <div class="language-wrapper">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{'header.language' | translate}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" (click)="changeLang('en')">English</a>
              <a class="dropdown-item" (click)="changeLang('es')">Español</a>
              <a class="dropdown-item" (click)="changeLang('fr')">Français</a>
              <a class="dropdown-item" (click)="changeLang('ko')">한국어</a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="d-none d-lg-flex translate-wrapper">
        <div class="dropdown show">
        </div>
      </div> -->
    </div>
    <div class="header-bottom-container">
      <div class="header-bottom">
        <div class="header-bottom-top">
          <a class="header-logo" [routerLink]="'/main'"></a>
        </div>
        <div class="header-bottom-bottom">
          <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="btn-toggle">
              <button (click)="toggleMenu()" class="navbar-toggler p-0" type="button" data-toggle="collapse"
                data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
                aria-label="Toggle menu navigation">
                <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
              </button>
            </div>

            <div class="collapse navbar-collapse p-0 menus" id="navbarMenus">
              <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let menu of menus;" [id]="menu.title">
                  <a class="nav-link" [routerLink]="menu.router" [routerLinkActive]="'active'"
                    [queryParams]="menu.queryParams" [innerHTML]="menu.title"
                    [ngClass]="{'is-live': menu.isLive, 'is-vod':menu.isVod}">
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item" *ngIf="user && user.title !== 'none'">
                  <a class="nav-link" (click)="showNetwork()">
                    {{'header.network' | translate}}
                  </a>
                </li>
                <li class="nav-item" *ngIf="user">
                  <a class="nav-link" [routerLink]="'/my-page'" [routerLinkActive]="'active'">
                    {{'header.mypage' | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
