<div class="agenda-list">
  <div class="agenda-list-item" *ngIf="programLive && speakerId">
    <p class="title">
      LIVE
    </p>
    <ng-container *ngFor="let agenda of programLive">
      <div role="button" class="item-live" (click)="goLive(agenda)">
        <span class="item-sub-title">{{agenda.room?.roomName}}</span>
        <p class="item-title" [innerHTML]="agenda.isSession?(agenda.subTitleMultilingual?agenda.subTitleMultilingual[curLang]:agenda.subTitle):(agenda.titleMultilingual?agenda.titleMultilingual[curLang]:agenda.title)"></p>
        <p class="ellipsis line" [innerHtml]="agenda.descriptionMultilingual?agenda.descriptionMultilingual[curLang]:agenda.description">
        </p>
        <span class="item-time">{{agenda.date.date | date:('yyyy.MM.dd (EEE.)')}}</span>
      </div>
    </ng-container>
  </div>
</div>
