/* modal content */

.agenda-list {
  padding: 16px;

  .agenda-list-item:last-child {

    >div:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  font-size: 1.33rem;
}

.item-live {
  position: relative;
  min-height: 112px;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 8px;
  padding-left: 18px;
  font-size: 0.9rem;
  border: 1px solid var(--live);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  >p {
    margin-bottom: 6px;
    word-break: break-all;
  }

  span {
    color: var(--description_gray);
  }

  .item-sub-title {
    font-size: 1.2rem;
  }

  .item-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .item-time {
    // position: absolute;
    // bottom: 8px;
    font-size: 1.2rem;
    // left: 16px;
  }
}
