.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.zoom-rooms-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .btn-zoom {
    background: var(--gray6);
    color: var(--text-gray);

    &:hover {
      background: var(--color-pre);
      color: white;
    }
  }

  margin-bottom:16px;
}

.korea-time-wrapper {
  width: 100%;
  max-width: 1200px;
  height: 30px;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 16px;

  .korea-time {
    .korea-time-label {
      color: var(--color-main);
      font-weight: 500;
    }

    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  @media(max-width: 600px) {
    font-size: 12px;
  }
}

.timetable-nav {
  font-size: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .timetable-list {
    margin-bottom: 24px;
  }

  .content-inner {
    display: flex;
    max-width: 1200px;
    gap: 12px;
    padding: 0;
    justify-content: center;
  }

  .nav-item {
    display: flex;
    // width: 100%;

    a {
      font-size: 16px;
      font-weight: 600;
      border-radius: 8px;
      max-width: 190px;
      width: 100%;
      height: 70px;
      word-break: break-word;

      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--gray6);

      color: var(--text-gray);
      text-decoration: none;

      padding: 10px;

      &.active-main {
        color: var(--white);
        background: var(--color-main);
      }

      &.active-pre {
        color: var(--white);
        background: var(--color-pre);
      }

      @media screen and (max-width: 862px) {
        font-size: 16px;
      }

      @media(max-width: 729px) {
        font-size: 14px;
      }

      @media(max-width: 682px) {
        font-size: 12px;
      }

      @media(max-width: 600px) {
        font-size: 10px;
      }
    }

    &.time-table-date-item {
      text-align: center;
    }
  }
}

.timetable {
  font-size: 14px;
  margin-bottom: 40px;

  th {
    background: rgb(159, 0, 94);
    color: var(--white);
    text-align: center;
    border: 1px solid var(--gray16);

    &.pre-congress {
      background: var(--color-pre);
    }
  }

  td {
    border: 1px solid var(--gray27);
    text-align: center;
    cursor: pointer;
    height: 68px;

    &.time {
      background: rgb(209, 209, 209);
      cursor: default;
    }

    &.bg-red {
      background: var(--tt_red);
    }

    &.bg-yellow {
      background: var(--tt_yellow);
    }

    &.bg-blue {
      background: var(--tt_sky);
    }

    &.bg-green {
      background: var(--tt_green);
    }

    &.bg-pink {
      background: var(--tt_pink);
    }

    &.break {
      background: var(--gray9);
      cursor: default;
    }

  }


  @media(max-width: 755px) {

    th,
    td {
      font-size: 10px;
      word-break: break-all;
    }
  }
}

.session-detail-btn {
  display: none;
}

// 세션 상세 모달
.modal-dialog {
  max-width: 940px;

  .modal-content {
    max-height: 500px;
    overflow-y: scroll;

    .modal-description {
      font-size: 16px;

      .modal-description-header {
        display: flex;
        padding: 2px 12px;
        background: var(--color-main);
        min-height: 40px;
        align-items: center;
        font-weight: 700;
        color: var(--white);

        .close {
          position: absolute;
          right: 12px;

          color: var(--white);
          opacity: 1.0 !important;
        }
      }

      .modal-description-body {
        cursor: pointer;

        .session-info {
          background: #999;
          color: var(--black);
          min-height: 80px;

          display: flex;

          .lt {
            width: 70%;
            border-right: 1px solid white;

            .session-title {
              padding: 2px 8px;
              display: flex;
              height: 100%;
              align-items: center;
            }
          }

          .rt {
            width: 30%;

            .session-speaker-list {
              padding: 2px 8px;

              .speaker-name {
                margin-right: 4px;
                font-weight: bold;
              }
            }
          }
        }

        .sub-list {
          .sub-list-item {
            display: flex;
            width: 100%;
            border-bottom: 1px solid var(--gray26);
            min-height: 70px;

            .sub-agenda-time-wrapper {
              width: 15%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-time {
                padding: 2px 8px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            .sub-agenda-title-wrapper {
              width: 55%;
              border-right: 1px solid var(--gray26);

              .sub-agenda-title {
                padding: 2px 8px;
                display: flex;
                height: 100%;
                align-items: center;
              }
            }

            .sub-agenda-speakers-wrapper {
              width: 30%;

              .sub-agenda-speakers-container {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;

                .sub-agenda-speakers {
                  padding: 2px 8px;

                  .sub-agenda-speaker-name {
                    margin-right: 4px;
                    font-weight: bold;
                  }
                }
              }
            }

            &.is-sub-session {
              background: var(--gray26);

              .sub-agenda-time-wrapper {
                border-right: 1px solid var(--white);
              }

              .sub-agenda-title-wrapper {
                border-right: 1px solid var(--white);
              }
            }
          }
        }



        @media (max-width:575px) {
          & {
            font-size: 12px;
          }
        }
      }
    }
  }
}
