<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/custom-ica/circle-clock.png">
      <span class="korea-time-label">{{'page-main.localtime' | translate}} (KST)</span>
      <span [innerHtml]="koreaTime"></span>
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-main':mainDate===1}" (click)="setMainDate(1)">
            1st DEC 2021<br>WED
          </a>
        </div>
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-main':mainDate===2}" (click)="setMainDate(2)">
            2nd DEC 2021<br>THU
          </a>
        </div>
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-main':mainDate===3}" (click)="setMainDate(3)">
            3rd DEC 2021<br>FRI
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day4 (1201)------------------------- -->
    <table class="program" #table1 *ngIf="mainDate === 1">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 1<br>Vista
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 2<br>Walker Hall 1
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 3<br>Walker Hall 2
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 4<br>Art Hall
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 5<br>Grand Hall 4
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00
          </td>
          <td class="time">
            10:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('61888abc32ef9f0013ba0eff')">
            {{'timetable.tableCells.1201.cell1-1' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-1' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-1' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-1' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            10:30
          </td>
          <td class="time">
            11:00
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1201.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-2' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            11:00
          </td>
          <td class="time">
            12:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('61838c7c65b0700012afa6f2')">
            {{'timetable.tableCells.1201.cell1-3' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-3' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-3' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-3' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-3' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            12:30
          </td>
          <td class="time">
            14:00
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1201.cell1-4' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-4' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-4' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-4' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-4' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:00
          </td>
          <td class="time">
            15:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184895b2d0f6a0014f35f3d')">
            {{'timetable.tableCells.1201.cell1-5' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('618488803515870012bbe53f')">
            {{'timetable.tableCells.1201.cell2-5' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('6184892b3515870012bbe546')">
            {{'timetable.tableCells.1201.cell3-5' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('618488cc83da8800131de38b')">
            {{'timetable.tableCells.1201.cell4-5' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('618489012d0f6a0014f35f38')">
            {{'timetable.tableCells.1201.cell5-5' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            15:30
          </td>
          <td class="time">
            16:00
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1201.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-6' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:00
          </td>
          <td class="time">
            16:40
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184de14c25a4e00162acad4')">
            {{'timetable.tableCells.1201.cell1-7' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-7' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-7' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-7' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-7' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:40
          </td>
          <td class="time">
            17:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184e76283da8800131de703')">
            {{'timetable.tableCells.1201.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-8' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            17:00
          </td>
          <td class="time">
            17:45
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184e93e3515870012bbe8a5')">
            {{'timetable.tableCells.1201.cell1-9' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-9' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-9' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-9' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-9' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            17:45
          </td>
          <td class="time">
            17:45
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184ea03c25a4e00162acb30')">
            {{'timetable.tableCells.1201.cell1-10' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-10' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-10' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-10' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-10' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            19:00
          </td>
          <td class="time">
            19:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('6184ea6d3515870012bbe8af')">
            {{'timetable.tableCells.1201.cell1-11' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1201.cell2-11' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1201.cell3-11' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1201.cell4-11' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1201.cell5-11' | translate}}
          </td>
        </tr>
        <tr>
          <td colspan="2">-</td>
          <td colspan="5" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>
    <!-- ! -------------------------Day5 (1202)------------------------- -->
    <table class="program" #table1 *ngIf="mainDate === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 1<br>Vista
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 2<br>Walker Hall 1
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 3<br>Walker Hall 2
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 4<br>Art Hall
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 5<br>Grand Hall 4
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00
          </td>
          <td class="time">
            09:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188abca64f66200134c2bab')">
            {{'timetable.tableCells.1202.cell1-1' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-1' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-1' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-1' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            09:10
          </td>
          <td class="time">
            10:40
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188930232ef9f0013ba0f35')">
            {{'timetable.tableCells.1202.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-2' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            10:40
          </td>
          <td class="time">
            11:10
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1202.cell1-3' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-3' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-3' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-3' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-3' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            11:10
          </td>
          <td class="time">
            12:40
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188b0c064f66200134c2bb9')">
            {{'timetable.tableCells.1202.cell1-4' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('6189ca81e1895900132a7d71')">
            {{'timetable.tableCells.1202.cell2-4' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61a08853495f6800121543bc')">
            {{'timetable.tableCells.1202.cell3-4' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('61a08bcd495f6800121543c0')">
            {{'timetable.tableCells.1202.cell4-4' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('61a08db8495f6800121543c1')">
            {{'timetable.tableCells.1202.cell5-4' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            12:40
          </td>
          <td class="time">
            14:10
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1202.cell1-5' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-5' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-5' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-5' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-5' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:10
          </td>
          <td class="time">
            14:40
          </td>
          <td class="bg-red" (click)="getSessionDetail('6189ccc2504d0a0013142761')">
            {{'timetable.tableCells.1202.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-6' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:40
          </td>
          <td class="time">
            16:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a03e78c51b6001236bc43')">
            {{'timetable.tableCells.1202.cell1-7' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-7' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-7' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-7' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-7' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:10
          </td>
          <td class="time">
            16:40
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1202.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-8' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:40
          </td>
          <td class="time">
            18:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a0c1a857bc900137c22ba')">
            {{'timetable.tableCells.1202.cell1-9' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61a0822c495f6800121543b3')">
            {{'timetable.tableCells.1202.cell2-9' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61a088885720af00122fd27d')">
            {{'timetable.tableCells.1202.cell3-9' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('61a08bf75720af00122fd280')">
            {{'timetable.tableCells.1202.cell4-9' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('61a08dda5720af00122fd281')">
            {{'timetable.tableCells.1202.cell5-9' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            18:10
          </td>
          <td class="time">
            18:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a1b6cb163d200127e2206')">
            {{'timetable.tableCells.1202.cell1-10' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1202.cell2-10' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1202.cell3-10' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1202.cell4-10' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1202.cell5-10' | translate}}
          </td>
        </tr>

        <tr>
          <td colspan="2">-</td>
          <td colspan="5" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day 6 (1203)------------------------- -->
    <table class="program" #table1 *ngIf="mainDate === 3">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 1<br>Vista
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 2<br>Walker Hall 1
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 3<br>Walker Hall 2
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 4<br>Art Hall
            <div class="channel-btn">
            </div>
          </th>
          <th>
            Room 5<br>Grand Hall 4
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:10
          </td>
          <td class="time">
            09:45
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a1e640881880012a3d5b7')">
            {{'timetable.tableCells.1203.cell1-1' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-1' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-1' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-1' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            09:45
          </td>
          <td class="time">
            11:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a23ed554302001294d4ef')">
            {{'timetable.tableCells.1203.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-2' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            11:10
          </td>
          <td class="time">
            11:40
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1203.cell1-3' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-3' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-3' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-3' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-3' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            11:40
          </td>
          <td class="time">
            13:10
          </td>
          <td class="bg-red" (click)="getSessionDetail('618a29d0ae146c0013e13f67')">
            {{'timetable.tableCells.1203.cell1-4' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('618c7b5bfc1fbf00125aa0fb')">
            {{'timetable.tableCells.1203.cell2-4' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('618c7e60fc1fbf00125aa107')">
            {{'timetable.tableCells.1203.cell3-4' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('618caaccfc1fbf00125aa154')">
            {{'timetable.tableCells.1203.cell4-4' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('618cb20cfc1fbf00125aa15c')">
            {{'timetable.tableCells.1203.cell5-4' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            13:10
          </td>
          <td class="time">
            14:40
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1203.cell1-5' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-5' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-5' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-5' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-5' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:40
          </td>
          <td class="time">
            15:15
          </td>
          <td class="bg-red" (click)="getSessionDetail('618b2ae4fc1fbf00125a9ff8')">
            {{'timetable.tableCells.1203.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-6' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            15:15
          </td>
          <td class="time">
            15:45
          </td>
          <td class="bg-red" (click)="getSessionDetail('618b4f6dfc1fbf00125aa019')">
            {{'timetable.tableCells.1203.cell1-7' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-7' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-7' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-7' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-7' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            15:45
          </td>
          <td class="time">
            16:20
          </td>
          <td class="bg-red" (click)="getSessionDetail('618b53d7fc1fbf00125aa028')">
            {{'timetable.tableCells.1203.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-8' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:20
          </td>
          <td class="time">
            17:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('618b7a8dfc1fbf00125aa05a')">
            {{'timetable.tableCells.1203.cell1-9' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-9' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-9' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-9' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-9' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            17:00
          </td>
          <td class="time">
            17:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('619f6ca465a393001285341d')">
            {{'timetable.tableCells.1203.cell1-10' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1203.cell2-10' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1203.cell3-10' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1203.cell4-10' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1203.cell5-10' | translate}}
          </td>
        </tr>

        <tr>
          <td colspan="2">-</td>
          <td colspan="5" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="timetable-nav" id="PreTable">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-pre':preDate===1}" (click)="setPreDate(1)">
            28th NOV 2021<br>SUN
          </a>
        </div>
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-pre':preDate===2}" (click)="setPreDate(2)">
            29th NOV 2021<br>MON
          </a>
        </div>
        <div class="nav-item time-table-date-item">
          <a [ngClass]="{'active-pre':preDate===3}" (click)="setPreDate(3)">
            30th NOV 2021<br>TUE
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="zoom-rooms-wrapper">
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day1 (1128)------------------------- -->
    <table class="program" #table1 *ngIf="preDate === 1">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
      </colgroup>
      <thead>
        <tr>
          <th class="pre-congress" colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 1<br>Maple
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 2<br>Lab3
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 3<br>Lab4
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 4<br>Lab5
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 5<br>Lab2
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 6<br>Zoom
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 7<br>Zoom
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00
          </td>
          <td class="time">
            10:15
          </td>
          <td class="bg-red" (click)="getSessionDetail('618869e132ef9f0013ba0e6c')">
            {{'timetable.tableCells.1128.cell1-1' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-1' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-1' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-1' | translate}}
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>

        <tr>
          <td class="time">
            10:15
          </td>
          <td class="time">
            10:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1128.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-2' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">
            10:30
          </td>
          <td class="time">
            12:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61886a8132ef9f0013ba0e72')">
            {{'timetable.tableCells.1128.cell1-3' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61886b8c32ef9f0013ba0e7a')">
            {{'timetable.tableCells.1128.cell2-3' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61886d7632ef9f0013ba0e82')">
            {{'timetable.tableCells.1128.cell3-3' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('61886f9732ef9f0013ba0e8a')">
            {{'timetable.tableCells.1128.cell4-3' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('618872d532ef9f0013ba0e92')">
            {{'timetable.tableCells.1128.cell5-3' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            12:00
          </td>
          <td class="time">
            13:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1128.cell1-4' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-4' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-4' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-4' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-4' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            13:30
          </td>
          <td class="time">
            14:20
          </td>
          <td class="bg-red" (click)="getSessionDetail('61886ab032ef9f0013ba0e74')">
            {{'timetable.tableCells.1128.cell1-5' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-5' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-5' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-5' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-5' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            14:20
          </td>
          <td class="time">
            14:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1128.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-6' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            14:30
          </td>
          <td class="time">
            16:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61886ad732ef9f0013ba0e76')">
            {{'timetable.tableCells.1128.cell1-7' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61886c2c32ef9f0013ba0e7e')">
            {{'timetable.tableCells.1128.cell2-7' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61886dc532ef9f0013ba0e86')">
            {{'timetable.tableCells.1128.cell3-7' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('618870c832ef9f0013ba0e8e')">
            {{'timetable.tableCells.1128.cell4-7' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('6188733832ef9f0013ba0e96')">
            {{'timetable.tableCells.1128.cell5-7' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            16:00
          </td>
          <td class="time">
            16:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1128.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1128.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1128.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1128.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1128.cell5-8' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            16:30
          </td>
          <td class="time">
            18:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61886af932ef9f0013ba0e78')">
            {{'timetable.tableCells.1128.cell1-9' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61886c5732ef9f0013ba0e80')">
            {{'timetable.tableCells.1128.cell2-9' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61886ef332ef9f0013ba0e88')">
            {{'timetable.tableCells.1128.cell3-9' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('618870fa32ef9f0013ba0e90')">
            {{'timetable.tableCells.1128.cell4-9' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('6188735f32ef9f0013ba0e98')">
            {{'timetable.tableCells.1128.cell5-9' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            21:00
          </td>
          <td class="time">
            22:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619b55bdb19d9000134edbd1')">
            4. LIVING OUR IDENTITY FOR THE BEST OF SDGs
            - Accounting for purpose: aligning the economic and social-environmental goals of co-operatives
          </td>
          <td (click)="getSessionDetail('619c2c55b19d9000134edc71')">
            1.3. THROUGH EDUCATIONAL OPPORTUNITIES
            - Learning for cooperation : about educational experiences and cooperative identity.
          </td>
        </tr>

        <tr>
          <td class="time">
            22:30
          </td>
          <td class="time">
            23:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td>
            Break
          </td>
          <td>
            Break
          </td>
        </tr>

        <tr>
          <td class="time">
            23:00
          </td>
          <td class="time">
            00:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619b6640b19d9000134edc17')">
            1. EXAMINING OUR COOPERATIVE IDENTITY
            - Coop Values
          </td>
          <td (click)="getSessionDetail('619c320fb19d9000134edc7d')">
            1.2 THROUGH INCLUSIVE GOVERNANCE
            - Research contributions for the approach of a gender perspective in cooperative and Social and Solidarity
            Economy organizations.
          </td>
        </tr>

        <tr>
          <td class="time">
            00:30
          </td>
          <td class="time">
            02:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619b67ecb19d9000134edc28')">
            4.1 WITH REWARDING JOBS
            - Work, Worker coop 2
          </td>
          <td (click)="getSessionDetail('619c39c5b19d9000134edc85')">
            1. EXAMINING OUR COOPERATIVE IDENTITY
            - The reception of the cooperative identity in Cuba. Antecedents, reality and perspectives
          </td>
        </tr>

        <tr>
          <td class="time">
            02:00
          </td>
          <td class="time">
            02:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td>
            Break
          </td>
          <td>
            Break
          </td>
        </tr>

        <tr>
          <td class="time">
            02:30
          </td>
          <td class="time">
            04:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619c262cb19d9000134edc6a')">
            3.5 FOR FACING CRISES WITH STRENGTH
            - (Post-)COVID and Coops
          </td>
          <td (click)="getSessionDetail('619c41b0b19d9000134edc93')">
            1.3 THROUGH EDUCATIONAL OPPORTUNITIES
            - The institutionalization of cooperative education beyond cooperatives: the case of the creation of Cresol
            Instituto in Brazil.
          </td>
        </tr>

        <tr>
          <td colspan="2">-</td>
          <td colspan="7" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day2 (1129)------------------------- -->
    <table class="program" #table1 *ngIf="preDate === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
      </colgroup>
      <thead>
        <tr>
          <th class="pre-congress" colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 1<br>Maple
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 2<br>Lab3
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 3<br>Lab4
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 4<br>Lab5
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 5<br>Lab2
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 6<br>Zoom
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 7<br>Zoom
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00
          </td>
          <td class="time">
            10:15
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188745332ef9f0013ba0e9a')">
            {{'timetable.tableCells.1129.cell1-1' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1129.cell2-1' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1129.cell3-1' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1129.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1129.cell5-1' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">
            10:15
          </td>
          <td class="time">
            10:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1129.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1129.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1129.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1129.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1129.cell5-2' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">
            10:30
          </td>
          <td class="time">
            12:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188788d32ef9f0013ba0ea7')">
            {{'timetable.tableCells.1129.cell1-3' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61887cac32ef9f0013ba0eb7')">
            {{'timetable.tableCells.1129.cell2-3' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61887dae32ef9f0013ba0ec0')">
            {{'timetable.tableCells.1129.cell3-3' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('6188830b32ef9f0013ba0ecb')">
            {{'timetable.tableCells.1129.cell4-3' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('618883d332ef9f0013ba0ed4')">
            {{'timetable.tableCells.1129.cell5-3' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            12:00
          </td>
          <td class="time">
            13:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1129.cell1-4' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1129.cell2-4' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1129.cell3-4' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1129.cell4-4' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1129.cell5-4' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            13:30
          </td>
          <td class="time">
            14:20
          </td>
          <td class="bg-red" (click)="getSessionDetail('618878b032ef9f0013ba0ea9')">
            {{'timetable.tableCells.1129.cell1-5' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61887cd632ef9f0013ba0eb9')">
            {{'timetable.tableCells.1129.cell2-5' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61887e3c32ef9f0013ba0ec3')">
            {{'timetable.tableCells.1129.cell3-5' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('6188832832ef9f0013ba0ecd')">
            {{'timetable.tableCells.1129.cell4-5' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('618883f432ef9f0013ba0ed6')">
            {{'timetable.tableCells.1129.cell5-5' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            14:20
          </td>
          <td class="time">
            14:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1129.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1129.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1129.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1129.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1129.cell5-6' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            14:30
          </td>
          <td class="time">
            16:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61887a7b32ef9f0013ba0eab')">
            {{'timetable.tableCells.1129.cell1-7' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61887d2d32ef9f0013ba0ebb')">
            {{'timetable.tableCells.1129.cell2-7' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('6188828b32ef9f0013ba0ec6')">
            {{'timetable.tableCells.1129.cell3-7' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('6188836132ef9f0013ba0ecf')">
            {{'timetable.tableCells.1129.cell4-7' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('6188841f32ef9f0013ba0ed8')">
            {{'timetable.tableCells.1129.cell5-7' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            16:00
          </td>
          <td class="time">
            16:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1129.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1129.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1129.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1129.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1129.cell5-8' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="time">
            16:30
          </td>
          <td class="time">
            18:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61887aef32ef9f0013ba0ead')">
            {{'timetable.tableCells.1129.cell1-9' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61887d5c32ef9f0013ba0ebd')">
            {{'timetable.tableCells.1129.cell2-9' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('618882b732ef9f0013ba0ec8')">
            {{'timetable.tableCells.1129.cell3-9' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('6188838f32ef9f0013ba0ed1')">
            {{'timetable.tableCells.1129.cell4-9' | translate}}
          </td>
          <td class="bg-pink" (click)="getSessionDetail('6188843e32ef9f0013ba0eda')">
            {{'timetable.tableCells.1129.cell5-9' | translate}}
          </td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td class="time">
            21:00
          </td>
          <td class="time">
            22:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619f3325ec66860013fe045d')">
            1. EXAMINING OUR COOPERATIVE IDENTITY
            - Manifestation of Coop Identity
          </td>
          <td (click)="getSessionDetail('619f471765a393001285338f')">
            1.2 THROUGH INCLUSIVE GOVERNANCE
            - Coops and Vulnerable groups / Coops as a Sector
          </td>
        </tr>
        <tr>
          <td class="time">
            22:30
          </td>
          <td class="time">
            23:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td>Break</td>
          <td>Break</td>
        </tr>
        <tr>
          <td class="time">
            23:00
          </td>
          <td class="time">
            00:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619f35ccec66860013fe0466')">
            1.3 THROUGH EDUCATIONAL OPPORTUNITIES
            - Collaborate, inspire & engage: Cooperative Identity and principles to unlock youth entrepreneurship
          </td>
          <td (click)="getSessionDetail('619f4bae65a39300128533ab')">
            1.4 THROUGH COOPERATIVE CULTURE AND SAFEGUARDING CULTURAL HERITAGE
            - The role of archives in the evolution, preservation and promotion of cooperative identity
          </td>
        </tr>
        <tr>
          <td class="time">
            00:30
          </td>
          <td class="time">
            02:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619f3957ec66860013fe0480')">4.1 WITH REWARDING JOBS
            - The Co-op Convert Project: Mapping the Potential of Converting Workplaces and Community Spaces to
            Cooperatives in Canada and Internationally</td>
          <td (click)="getSessionDetail('61cbf93c59787b0013e58f97')">
            2.4 BY MEETING FUTURE CAPITAL NEEDS
            - Construction Cooperatives in Cuba and their development from the economic and financial perspective
          </td>
        </tr>
        <tr>
          <td class="time">
            02:00
          </td>
          <td class="time">
            02:30
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td>
            Break
          </td>
          <td>Break</td>
        </tr>
        <tr>
          <td class="time">
            02:30
          </td>
          <td class="time">
            04:00
          </td>
          <td class="bg-red"></td>
          <td class="bg-yellow"></td>
          <td class="bg-blue"></td>
          <td class="bg-green"></td>
          <td class="bg-pink"></td>
          <td (click)="getSessionDetail('619f44fd65a3930012853379')">1.1 THROUGH A STRONG COOPERATIVE BRAND
            - Coop Branding 2</td>
          <td (click)="getSessionDetail('619f4fdf65a39300128533c5')">1.2 THROUGH INCLUSIVE GOVERNANCE
            - Coop Governance 2</td>
        </tr>

        <tr>
          <td colspan="2">-</td>
          <td colspan="7" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------Day3 (1130)------------------------- -->
    <table class="program" #table1 *ngIf="preDate === 3">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
      </colgroup>
      <thead>
        <tr>
          <th class="pre-congress" colspan="2">
            Time
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 1<br>Maple
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 2<br>Lab3
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 3<br>Lab4
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 4<br>Lab5
            <div class="channel-btn">
            </div>
          </th>
          <th class="pre-congress">
            Room 5<br>Lab2
            <div class="channel-btn">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">
            09:00
          </td>
          <td class="time">
            10:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188848032ef9f0013ba0edb')">
            {{'timetable.tableCells.1130.cell1-1' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('6188897332ef9f0013ba0ef0')">
            {{'timetable.tableCells.1130.cell2-1' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('618889ef32ef9f0013ba0ef7')">
            {{'timetable.tableCells.1130.cell3-1' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('61888a3032ef9f0013ba0efb')">
            {{'timetable.tableCells.1130.cell4-1' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-1' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            10:30
          </td>
          <td class="time">
            11:00
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1130.cell1-2' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-2' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-2' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-2' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-2' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            11:00
          </td>
          <td class="time">
            12:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('6188880a32ef9f0013ba0ee7')">
            {{'timetable.tableCells.1130.cell1-3' | translate}}
          </td>
          <td class="bg-yellow" (click)="getSessionDetail('61a016a5d7580b0033634259')">
            {{'timetable.tableCells.1130.cell2-3' | translate}}
          </td>
          <td class="bg-blue" (click)="getSessionDetail('61888a0b32ef9f0013ba0ef9')">
            {{'timetable.tableCells.1130.cell3-3' | translate}}
          </td>
          <td class="bg-green" (click)="getSessionDetail('61888a4f32ef9f0013ba0efd')">
            {{'timetable.tableCells.1130.cell4-3' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-3' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:00
          </td>
          <td class="time">
            14:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('6182281a62e1790012cdce34')">
            {{'timetable.tableCells.1130.cell1-4' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-4' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-4' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-4' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-4' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            14:30
          </td>
          <td class="time">
            15:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('6182294f62e1790012cdce37')">
            {{'timetable.tableCells.1130.cell1-5' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-5' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-5' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-5' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-5' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            15:00
          </td>
          <td class="time">
            16:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61822a8462e1790012cdce39')">
            {{'timetable.tableCells.1130.cell1-6' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-6' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-6' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-6' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-6' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:00
          </td>
          <td class="time">
            16:30
          </td>
          <td class="bg-red">
            {{'timetable.tableCells.1130.cell1-7' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-7' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-7' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-7' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-7' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            16:30
          </td>
          <td class="time">
            18:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('61823b8662e1790012cdd0cd')">
            {{'timetable.tableCells.1130.cell1-8' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-8' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-8' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-8' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-8' | translate}}
          </td>
        </tr>
        <tr>
          <td class="time">
            18:00
          </td>
          <td class="time">
            18:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('61837380439c190014096ef0')">
            {{'timetable.tableCells.1130.cell1-9' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-9' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-9' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-9' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-9' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            18:30
          </td>
          <td class="time">
            19:00
          </td>
          <td class="bg-red" (click)="getSessionDetail('6183745d28b2ef0012e84797')">
            {{'timetable.tableCells.1130.cell1-10' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-10' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-10' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-10' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-10' | translate}}
          </td>
        </tr>

        <tr>
          <td class="time">
            19:00
          </td>
          <td class="time">
            19:30
          </td>
          <td class="bg-red" (click)="getSessionDetail('618378bec7a1820013c3e845')">
            {{'timetable.tableCells.1130.cell1-11' | translate}}
          </td>
          <td class="bg-yellow">
            {{'timetable.tableCells.1130.cell2-11' | translate}}
          </td>
          <td class="bg-blue">
            {{'timetable.tableCells.1130.cell3-11' | translate}}
          </td>
          <td class="bg-green">
            {{'timetable.tableCells.1130.cell4-11' | translate}}
          </td>
          <td class="bg-pink">
            {{'timetable.tableCells.1130.cell5-11' | translate}}
          </td>
        </tr>

        <tr>
          <td colspan="2">-</td>
          <td colspan="5" (click)="goVod()">COOP CINEMA</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<button #sessionDetailBtn class="session-detail-btn" data-toggle="modal" data-target="#sessionDetailModal">
  session detail modal open
</button>

<!-- ! 세션 상세 모달 -->
<div class="modal session-detail fade" id="sessionDetailModal" data-backdrop="static" role="dialog"
  aria-labelledby="sessionDetailModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description" *ngIf="selectedAgenda">
          <div class="modal-description-header">
            Session Detail
            <button type="button" class="ml-2 mb-1 close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <div class="modal-description-body" (click)="goLiveV2(selectedAgenda.dateId,selectedAgenda.roomId)"> -->
          <div class="modal-description-body" (click)="goVod()">
            <div class="session-info">
              <div class="lt">
                <div class="session-title">
                  <span class="session-title-bold"
                    [innerHTML]="selectedAgenda.subTitleMultilingual?selectedAgenda.subTitleMultilingual[curLang]:selectedAgenda.subTitle"></span>
                </div>
              </div>
              <div class="rt">
                <div class="session-speaker-list" *ngIf="selectedAgenda.speakers && selectedAgenda.speakers.length">
                  Chairperson:
                  <div class="session-speaker" *ngFor="let speaker of selectedAgenda.speakers">
                    <div class="speaker-name">{{speaker.fullName}}</div>
                    <div class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sub-list" *ngIf="selectedSubList">
              <div *ngFor="let agenda of selectedSubList" class="sub-list-item"
                [ngClass]="{'is-sub-session': agenda.endPopup}">
                <div class="sub-agenda-time-wrapper">
                  <div class="sub-agenda-time text-center">
                    {{agenda.startTime}}-{{agenda.endTime}}
                  </div>
                </div>
                <div class="sub-agenda-title-wrapper">
                  <div class="sub-agenda-title" [innerHTML]="agenda.title"></div>
                </div>
                <div class="sub-agenda-speakers-wrapper">
                  <div class="sub-agenda-speakers-container">
                    <div class="sub-agenda-speakers" *ngFor="let speaker of agenda.speakers">
                      <div class="sub-agenda-speaker-name"
                        [innerHTML]="speaker.fullNameMultilingual?speaker.fullNameMultilingual[curLang]:speaker.fullName">
                      </div>
                      <div class="sub-agenda-speaker-company"
                        [innerHTML]="speaker.companyMultilingual?speaker.companyMultilingual[curLang]:speaker.company">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
