.content-body {
  .about-article {
    width: 100%;

    p {
      line-height: 30px;
      font-size: 20px;
      color: var(--text-gray);
      font-weight: bold;
      font-family: NunitoBold;
    }
  }
}

.btn-sponsros-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 18px;

  .btn-sponsors {
    background: var(--color-main);
    color: var(--white);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
      background: var(--color-main-hover);
    }
  }
}

@media (max-width: 460px) {
  p {
    font-size: 14px !important;
  }
}
