<div class="pattern" [ngClass]="{'content-body': !opt }">
  <div class="content-wrapper">
    <div class="content-inner">
    </div>
    <article *ngIf="event" class="about-article">
      <div class="content-inner text-center font-weight-bold" *ngIf="opt"
        [innerHTML]="event.description[curLang] | safeHtml">
      </div>
      <div class="content-inner text-center font-weight-bold" *ngIf="!opt"
        [innerHTML]="event.description2[curLang] |safeHtml">
      </div>
    </article>
    <div class="content-inner btn-sponsros-wrapper">
      <a href="https://icaworldcoopcongress.coop/meet-our-sponsors" target="_blank">
        <button class="btn btn-sponsors">SPONSORS</button>
      </a>
    </div>
  </div>
</div>
