<div class="content-body">
  <div class="content-wrapper">
    <!-- LIVE session -->
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>{{'header.program' | translate}}</h2>
      </div>
    </div>
    <div class="content-inner">
      <app-time-table></app-time-table>
    </div>
  </div>
</div>
