.content-inner {
  // margin-top: 60px; // ! TEMP

  &.vod {
    padding-top: 60px;
  }
}

.title-wrapper {
  h2 {
    &.live {
      color: var(--btn_live);
    }

    &.vod {
      color: var(--blue2);
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 7px;
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.program-wrapper {
  padding: 24px 72px;

  .vod-table {
    width: 100%;

    th,
    td {
      padding: 8px;
      border-bottom: 1px solid var(--gray1);
    }

    thead th {
      color: var(--white);
      text-align: center;
    }

    tbody td:nth-child(1) {
      background: var(--blue7);
      color: var(--white);
      font-size: 1.33rem;
      text-align: center;
    }

    tbody td:nth-child(2) {
      background: var(--white);
      color: var(--black);
      font-size: 1.08rem;

    }


    tbody tr:hover {
      cursor: pointer;

      td {
        color: var(--black);
        background: rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
      }
    }


  }
}

@media(max-width: 767px) {
  .title-wrapper .vod {
    .vod-title-label {
      width: 100%;
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
  }

  .program-wrapper {
    padding: 8px 12px;
  }
}

@media(max-width: 575px) {
  .title-wrapper {
    h2 {
      span.vod-title-label {
        margin-left: 0;
        margin-top: 8px;
        // font-size: 1.1rem;
      }
    }
  }

  .program-wrapper {
    padding: 0px;
    background: transparent;
    border: none;
  }
}
