.player-wrapper {
  display: flex;

  .left-wrapper {
    position: relative;
    width: 70%;

    .player {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 460px;
      padding-right: 16px;
    }
  }

  .right-wrapper {
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    min-height: 460px;
    border: 1px solid var(--border_gray);

    .reply {
      display: flex;
      flex: 1;
      flex-direction: column;

      .reply-list {
        overflow-y: scroll;
        position: relative;
        flex: 1;
        background: var(--white);

        .reply-history {
          overflow-x: hidden;
          overflow-y: auto;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 16px;

          .reply-item {
            display: flex;
            margin-bottom: 8px;

            .reply-user {
              width: 84px;
              margin-right: 16px;
              font-size: 12px;
              color: var(--gray25);
              word-break: break-all;
            }

            .reply-content {
              flex: 1;
              width: 100px;
              font-size: 12px;
              word-wrap: break-word;

            }

            .reply-delete {
              font-size: 10px;
              color: rgb(226, 142, 142)
            }
          }
        }
      }

      .reply-form {
        padding: 8px 16px;
        background: var(--gray7);

        label {
          font-size: 1.2rem;
        }

        input {
          padding-left: 0;
          padding-right: 0;
          border: none;
          background: none;

          &::placeholder {
            color: var(--gray24);
          }
        }

        hr {
          margin-top: 2px;
        }

        >div {
          font-size: 1rem;
          color: var(--gray7);

          .btn-send {
            margin-left: 16px;
            color: var(--black);
            background: var(--gray2);
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .player-wrapper {
    flex-direction: column;

    .left-wrapper,
    .right-wrapper {
      width: 100%;
      min-width: 100%;
      margin-left: 0;
    }

    .right-wrapper {
      min-height: 260px;
    }

    .left-wrapper {
      .player {
        min-height: 230px;
        padding-right: 0;
      }
    }
  }
}
