.content-body {
  padding-top: 160px;
  max-width: none;
}

.login-flowers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;

  .img-flower {
    width: 10%;
  }

}

.login-container {
  padding-top: 123px;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 133px;

  .login-banner {
    margin-bottom: 30px;
  }

  .login-form {
    margin-bottom: 28px;

    .input-wrapper {
      width: 100%;
      margin-bottom: 8px;
      position: relative;

      .input-text {
        input {
          width: 100%;
          font-size: 18px;
          padding: 15px 32px 15px 22px;
          border: 1px solid #F6F6F6;
          border-radius: 6px;
          background: #F6F6F6;
          color: #7F7F7F;

          /* Change the color to your own background color */
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
            -webkit-transition: background-color 9999s ease-out;
            -webkit-box-shadow: 0 0 0px 1000px #F6F6F6 inset !important;
            -webkit-text-fill-color: #7F7F7F !important;
          }
        }
      }

      .icon-valid-wrapper {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 18px;
        right: 14px;
      }

    }

    .icon-valid-wrapper {
      position: relative;
    }

    .error-message {
      color: #DB0E0E;
      margin-bottom: 21px;
    }

    .login-button-wrapper {
      .login-button {
        width: 100%;
        height: 54px;
        border: 1px solid #0F8A90;
        background: #0F8A90;
        border-radius: 6px;
        color: var(--white);
      }
    }
  }

  .help-center-wrapper {
    border-top: 2px solid var(--gray6);
    padding-top: 28px;
    text-align: center;

    font-size: 14px;

    .help-center-title {
      margin-bottom: 21px;

      p {
        line-height: 24px;
        margin: 0;

        b {
          color: #404040;
          font-weight: 600;
        }

        color: #555555;
      }
    }

    .lang-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 24px;

      div {
        max-width: 100%;

        button {
          width: 188px;
          height: 40px;
          background: var(--gray6);
          color: #404040;
          border-radius: 6px;

          &:hover {
            background: var(--color-main);
            color: var(--white);
          }
        }
      }

      @media screen and (max-width : 515px) {
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: 515px) {
    padding: 20px 32px 133px;
  }
}

// .content-body {
//   max-width: 400px;
//   margin: 0 auto;

//   /* 로그인 배너 */
//   .banner-wrapper {
//     width: 100%;
//     margin: 0 auto;
//     position: relative;
//     text-align: center;

//     .m-banner-image {
//       display: none;
//       width: 100%;
//       height: 100px;
//       max-height: 12vh;
//       background-size: cover;
//       background-repeat: no-repeat;
//       background-position: center;
//     }
//   }

//   @media (max-width: 767px) {
//     .banner-wrapper {
//       .m-banner-image {
//         display: block;
//       }

//       img {
//         display: none;
//       }
//     }
//   }

//   .content-wrapper {
//     padding-top: 40px;

//     .login-title {
//       font-size: 1.66rem;
//       color: var(--gray16);
//       font-weight: bold;
//       text-align: center;
//     }


//     .login-form {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin-top: 30px;
//       padding: 0px 78px;

//       .input-wrapper {
//         display: flex;
//         flex-direction: column;
//         color: var(--gray16);

//         label {
//           font-size: 1.66rem;
//           font-weight: bold;
//         }

//         input {
//           font-size: 1.66rem;
//           padding-left: 8px;
//           width: 550px;
//           height: 40px;
//           border: none;
//           background-color: var(--gray7);
//         }

//         input:-webkit-autofill {
//           -webkit-box-shadow: 0 0 0 1000px var(--gray7) inset;
//         }

//         input:focus {
//           outline: 1px solid var(--gray16);
//         }

//         margin-bottom:8px;
//       }
//     }

//     .login-bottom {
//       display: flex;
//       width: 100%;
//       max-width: 550px;
//       height: 18px;
//       font-size: 1.1rem;
//       flex-direction: column;

//       .error-message {
//         width: 100%;
//         height: 19px;
//         text-align: center;
//         color: var(--red);
//       }
//     }

//     .submit-button {
//       display: flex;
//       justify-content: center;
//       margin-top: 32px;
//       margin-bottom: 32px;

//       button {
//         width: 160px;
//         height: 40px;
//         font-size: 1.16rem;
//         color: var(--white);
//         background: var(--main-blue);
//       }
//     }
//   }
// }

// .login-alert-btn {
//   display: none;
// }

// .modal-dialog {
//   max-width: 826px;
// }

// .findPassword {
//   background: var(--modal-background);

//   .modal-content {
//     padding: 16px;
//     width: 100%;
//     max-width: 500px;

//     .modal-title {
//       font-size: 1.6rem;
//       padding-bottom: 8px;
//       border-bottom: 1px solid black;
//     }

//     .modal-description {
//       padding: 16px 0;

//       p {
//         text-align: center;
//         font-size: 1.4rem;
//       }
//     }

//     .btn-submit {
//       display: flex;
//       flex-direction: column;
//       align-items: center;

//       button {
//         font-size: 10pt;

//         &.confirm-btn {
//           width: 250px;
//           height: 50px;
//           color: var(--white);
//           font-weight: 600;
//           background: var(--main-blue);
//           margin-bottom: 16px;
//         }

//         &.cancel {
//           width: 120px;
//         }
//       }
//     }
//   }
// }

// .login-alert {
//   background: RGBA(0, 0, 0, .8);

//   .modal-content {
//     padding: 32px;
//     max-width: 520px;
//     background: var(--modal-background);

//     .modal-title {
//       color: var(--white);
//       font-size: 1.3rem;
//       padding-bottom: 8px;
//       border-bottom: 1px solid var(--white);

//       img {
//         width: 6%;
//         margin-right: 8px;
//       }
//     }

//     .modal-description {
//       padding: 16px 0 0 0;

//       label {
//         font-size: 1.4rem;
//       }

//       p {
//         padding: 8px 0;
//         font-size: 1.3rem;
//         color: var(--white);
//       }
//     }

//     .confirm-btn {
//       height: 40px;
//       color: var(--white);
//       font-size: 1.4rem;
//       font-weight: 600;
//       border-radius: 25px;
//       background: var(--main-blue);

//     }
//   }
// }

// @media screen and (max-width : 767px) {
//   .content-body {
//     .login-form {
//       .input-wrapper {

//         input {
//           width: 100%;
//           min-width: 320px;
//         }
//       }
//     }

//     .submit-button {
//       margin-top: 12%;
//     }
//   }
// }
