<div class="content-body">
  <div class="login-flowers">
    <div class="img-flower"><img src="assets/img/banner-login-1.png"></div>
    <div class="img-flower"><img src="assets/img/banner-login-2.png"></div>
  </div>
  <div class="login-container">
    <div class="login-banner">
      <img src="assets/img/banner-login.png" role="img" alt="banner image">
    </div>
    <div class="login-form">
      <form [formGroup]="formGroup">
        <div class="input-wrapper">
          <div class="input-text">
            <input name="email" type="text" id="email" formControlName="email" placeholder="E-mail" />
          </div>
          <div class="icon-valid-wrapper" *ngIf="formControls.email.validator">
            <img class="circle-valid" src="../../../assets/img/custom-ica/icon-valid.png"
              *ngIf="formControls.email.valid">
            <img class="circle-valid" src="../../../assets/img/custom-ica/icon-invalid.png"
              *ngIf="formControls.email.invalid">
          </div>
        </div>

        <div class="input-wrapper">
          <div class="input-text">
            <input name="password" type="password" id="password" formControlName="password" placeholder="Password" />
          </div>
          <div class="icon-valid-wrapper" *ngIf="formControls.password.validator">
            <img class="circle-valid" src="../../../assets/img/custom-ica/icon-valid.png"
              *ngIf="formControls.password.valid">
            <img class="circle-valid" src="../../../assets/img/custom-ica/icon-invalid.png"
              *ngIf="formControls.password.invalid">
          </div>
        </div>

        <div class="error-message">
          {{errorMessage?errorMessage:''}}
        </div>
        <div class="login-button-wrapper">
          <button type="submit" class="login-button" (click)="login()">LOGIN</button>
        </div>
      </form>
    </div>

    <div class="help-center-wrapper">
      <div class="help-center-title">
        <p>
          <b>Help Center : Contact Us!</b><br>
          What if I forget my E-mail or Password?
        </p>
      </div>
      <div class="lang-buttons">
        <div><a href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/61135c2d64ca7d00121a7854/contents/61a233c983fdab0012645a2d.pdf" target="_blank"><button>ENGLISH</button></a></div>
        <div><a href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/61135c2d64ca7d00121a7854/contents/61a233f583fdab0012645a32.pdf" target="_blank"><button>ESPAÑOL</button></a></div>
        <div><a href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/61135c2d64ca7d00121a7854/contents/61a237d583fdab0012645a43.pdf" target="_blank"><button>FRANÇAIS</button></a></div>
        <div><a href="https://cfair-files.s3.ap-northeast-2.amazonaws.com/events/61135c2d64ca7d00121a7854/contents/61a233b683fdab0012645a2b.pdf" target="_blank"><button>한국어</button></a></div>
      </div>
    </div>
  </div>
</div>
