iframe {
  height: 400px;
}

.poster-detail-wrapper {
  .poster-detail-title {
    p {
      margin-bottom: 6px;
      font-size: 1.33rem;
      color: var(--gray25);
      font-weight: 600;
    }

    h3 {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .poster-detail-content {
    margin: 24px 0;
    background: var(--gray22);

    .poster-content-footer {
      display: flex;
      padding: 24px 16px;
      border-top: 2px solid var(--gray25);

      .poster-info {
        flex: 1 1 0;
        max-width: 550px;
        padding-right: 40px;

        &:nth-child(2) {
          flex: 2 1 0;
        }

        h4 {
          margin-bottom: 4px;
          font-size: 1.2rem;
        }

        p {
          margin: 0;
          font-size: 1.33rem;

          .download {
            display: inline-flex;
            min-width: 137px;
            margin-top: 8px;
            margin-right: 8px;
            padding: 8px;
            color: var(--gray22);
            font-size: 1.33rem;
            font-weight: 500;
            background: var(--blue8);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;

            &:hover {
              color: var(--blue8);
              font-weight: 600;
              text-decoration: underline;
            }

            /*클립아이콘*/
            .icon-clip {
              display: inline-block;
              vertical-align: middle;
              width: 11px;
              height: 22px;
              margin-right: 8px;
              background-image: url('/assets/img/icon-clip.png');
              background-size: contain;
              background-repeat: no-repeat;

              &:hover {
                color: var(--blue10);
              }
            }

            .ellipsis {
              color: white;
              max-width: 137px;
              padding-left: 5px;
            }

          }
        }

        &:last-child {
          margin: 0;
          padding-right: 0;
        }
      }
    }

    .poster-content-body {
      padding: 24px 16px;

      p {
        font-size: 1.33rem;
        margin: 0;
      }

      .pdf-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        pdf-viewer {
          width: 100% !important;
          height: 100% !important;

          .page {
            width: 100% !important;
            height: 100% !important;

            .canvasWrapper {
              width: 100% !important;
              height: auto !important;

              canvas {
                width: 100% !important;
                height: auto !important;
              }
            }
          }
        }

        .slider-button-wrapper {
          background: var(--gray10);
          display: flex;
          align-self: center;
          width: 50%;
          justify-content: space-between;

          .prev-btn-wrapper button,
          .next-btn-wrapper button {
            img {
              width: 15px;
            }
          }
        }
      }

      &.isVideo {
        // min-height: 450px;

        iframe {
          min-height: 450px;
        }
      }
    }
  }
}

.poster-detail-comments-wrapper {
  width: 70%;
  margin: 0 auto;

  .comment-headline {
    margin: 0;
    margin-top: 16px;
    background: var(--gray21);
  }

  .cInputs-wrapper {
    display: none;

    textarea {
      padding-left: 4px;
      font-size: 12px;
      padding: 0;
      resize: none;
      font-weight: 300;
      border: none;
      width: 100%;

      &:focus {
        outline: none !important;
        border-color: var(--blue8);
      }

      border:1px solid var(--gray21);
    }

    button {
      border: 1px solid var(--gray20);
      padding: 4px 8px;
      border-radius: 0.25rem;
    }
  }

  .new-input-wrapper {
    min-height: 35px;
    display: flex;

    .new-input {
      width: 80%;
      padding-left: 4px !important;
      font-size: 12px;
      padding: 0;
      resize: none;
      font-weight: 300;
      border: none;

      &:focus {
        outline: none !important;
        // border-color: var(--blue8);
      }

      border:1px solid var(--gray21);
    }

    button {
      width: 20%;
      background: var(--color-main);
      color: var(--white);
      border: none;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.4em;
      padding-left: 1.2em;
    }
  }

  .comment-wrapper {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray21);

    &.child-wrapper {
      position: relative;
      padding-top: 20px;

      padding: 20px 16px 16px 42px;
      background: #f1f1f1;

      .child-icon {
        position: absolute;
        left: 16px;
      }
    }

    .comment-header {
      .comment-name {
        font-size: 12px;
        font-weight: 600;
      }

      .my-comment {
        color: var(--blue8);
      }

      display: flex;
      justify-content: space-between;

      .dropdown .dropdown_button {
        color: var(--gray17);

        &:focus {
          outline: none !important;
          border-color: var(--blue8) !important;
        }
      }

      .cancel-save {
        width: 63px;
        display: flex;
        justify-content: space-between;

        .cancel-save-division {
          color: var(--gray27);
        }
      }
    }

    .comment-body {
      textarea {
        font-size: 12px;
        padding: 0;
        resize: none;
        font-weight: 300;
        border: none;
        width: 100%;
      }

      .parent-textarea {
        background-color: transparent;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--blue8);
        }

        border:1px solid var(--gray21);
      }

      .child-textarea {
        background-color: #f1f1f1;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--blue8);
        }

        border:1px solid transparent;
      }
    }

    .comment-date {
      font-size: 12px;
      color: #a0a0a0;
      font-weight: 300;
      padding-bottom: 8px;
    }

    .open-reply-wrapper {
      button {
        border: 1px solid var(--gray20);
        padding: 4px 8px;
        border-radius: 0.25rem;
      }
    }
  }
}



.back-to-list {
  margin-top: 32px;
  padding: 12px 0;
  text-align: center;

  button {
    width: 170px;
    height: 40px;
    background: var(--navy);
    color: var(--white);
    font-weight: 600;
    border: none;
  }
}

@media(max-width: 767px) {
  .poster-detail-wrapper {
    .poster-detail-title {
      p {
        margin-bottom: 4px;
        font-size: 1.2rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }

    .poster-detail-content {
      margin: 16px 0;

      .poster-content-footer {
        display: flex;
        flex-direction: column;

        .poster-info {
          flex: none;
          max-width: 100%;
          padding-right: 0;

          &:nth-child(2) {
            flex: none;
          }

          &:last-child {
            padding-right: 0;
          }

          p {

            &>a {
              display: block;
              max-width: 95%;
            }
          }
        }
      }


      .poster-content-footer {
        padding: 16px;

        .poster-info {
          margin-bottom: 12px;
        }
      }

      .poster-content-body {
        padding: 16px;
      }
    }
  }
}


@media(max-width: 575px) {

  .poster-detail-wrapper {
    .poster-detail-title {
      p {
        font-size: 1.1rem;
      }

      h3 {
        font-size: 1.4rem;
      }
    }

    .poster-detail-content {
      .poster-content-footer {
        .poster-info {

          h4 {
            font-size: 1.1rem;
          }

          p {
            font-size: 1.1rem;
          }
        }
      }

      .poster-content-body {
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}
