.btn {
  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 25%);
  }
}

.fixed-btns-wrapper {
  z-index: 999;
  right: 0;
  position: fixed;
  bottom: 2%;
  display: flex;

  .btn-timetable {
    background: url(../assets/img/custom-ica/timetable_btn.png) no-repeat center / contain;
    width: 247px;
    height: 60px;
    // position: fixed;
    // right: 0;
    // transform: translateX(-50%);
    // bottom: 2%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: url(../assets/img/custom-ica/timetable_btn_hover.png) no-repeat center / contain;
      transition: 0.3s;
    }
  }

  .top_btn {
    background: url(../assets/img/custom-ica/top_btn.png) no-repeat center / contain;
    width: 60px;
    height: 60px;
    // position: fixed;
    // right: 0;
    // transform: translateX(-50%);
    // bottom: 2%;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: url(../assets/img/custom-ica/top_btn_hover.png) no-repeat center / contain;
      transition: 0.3s;
    }
  }
}


.network-container {
  font-size: 16px;
  position: fixed;
  width: 400px;
  height: 680px;
  background: var(--white);
  border-radius: 30px;
  border: 2px solid #EBE9EA;
  box-shadow: 0px 9px 16px rgba($color: #000000, $alpha: 0.2);

  bottom: 30px;
  right: 40px;
  z-index: 10000001;
  max-height: calc(100vh - 148px);

  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; // for Internet Explorer, Edge */
  scrollbar-width: none; // for Firefox */

  // &::-webkit-scrollbar {
  //   display: none; // for Chrome, Safari, and Opera
  // }

  overflow: hidden;
  overscroll-behavior-y: none !important;
  -webkit-overflow-scrolling: none !important;

  .top-wrap {
    position: fixed;
    background-color: white;
    height: 310px;
    width: 395px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 50px 26px 10px 26px;
  }

  .bottom-wrap {
    margin-top: 310px;
    overflow-y: scroll;
    height: 300px;

    overscroll-behavior: none; // ! 스크롤 체이닝 방지
  }

  .network-header {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .btn-close {
    position: absolute;
    top: 18px;
    right: 16px;
    font-size: 24px;

    &:focus {
      outline: none !important;
    }
  }

  .network-my-info-container {
    margin-bottom: 14px;

    .network-my-info-wrapper {
      overflow: hidden;
      padding: 12px 14px;
      border: 1px solid var(--gray6);
      border-radius: 6px;

      display: flex;
      flex-direction: column;
      gap: 4px;

      height: 100px;
      overflow-y: scroll;

      div {
        word-break: break-word;
      }
    }
  }

  .network-search-container {
    margin-bottom: 16px;

    .network-search-wrapper {
      width: 100%;
      display: flex;

      .input-search-wrapper {
        width: 100%;

        .input-search {
          display: inline-block;
          height: 40px;
          font-size: 18px;
          background-color: var(--gray6);
          border: none;
          box-shadow: none;
          border-radius: 18px;
          padding-left: 50px;
        }
      }

      .btn-search-wrapper {
        width: 50px;
        position: absolute;
        height: 42px;
        display: flex;
        justify-content: center;

        .btn-search {
          width: 18px;
          height: 42px;
          background: url('/assets/img/custom-ica/search_icon.png');
          background-size: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .network-member-list-header {
    padding-left: 10px;

    .text-total {
      color: var(--color-main);
    }
  }

  .network-member-list-container {
    .no-results {
      font-size: 18px;
      color: var(--gray13);
    }

    .member-list-wrapper {

      .initial {
        background-color: rgba($color: #e7d3e6, $alpha: 0.4);
        color: var(--network_txt);
        padding: 6px 30px;
      }

      .member-list {
        // padding: 0 20px;
        display: flex;
        flex-direction: column;

        .member-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid var(--gray6);
          padding: 10px 32px;
          // padding: 10px 12px;

          &:last-child {
            border-bottom: none;
          }

          .member-name {
            width: 80%;
          }

          .btn-mailto {
            height: 16px;

            &.active {
              height: 19px;
            }
          }
        }

        .member-detail {
          padding: 10px 32px;
          background-color: #EBE9EA;
        }
      }
    }
  }

  .network-header,
  .network-member-list-header {
    font-weight: 700;
  }

  .network-footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3px;
    background-color: white;
    height: 64px;
    width: 395px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .back-to-list-btn {
      width: 70%;
      height: 40px;
      background-color: var(--ica-gray-2);
      border-radius: 4px;
      text-align: center;

      span {
        line-height: 40px;
        color: white;
      }

      &.active {
        background: var(--color-main);
        cursor: pointer;
      }
    }
  }

}

//! ngx-spinner
.overlay {
  //   position: fixed !important;
  //   width: 350px !important;
  //   height: 550px !important;
  border-radius: 30px;
  //   top: 72px !important;
  //   z-index: 10000002 !important;
  //   left: auto !important;
  //   right: 6px !important;
  //   max-height: calc(100vh - 148px);
}

@media(max-width: 767px) {
  .toast-wrapper {
    width: 50%;
  }

  .network-container {
    font-size: 14px;

    .network-search-container .network-search-wrapper .btn-search-wrapper .btn-search {
      width: 22px;
    }
  }

  .network-container {
    width: 340px;
    right: 0;

    .top-wrap {
      width: 335px;
    }

    .network-footer-wrap {
      width: 335px;
    }
  }



  //! ngx-spinner
  // .overlay {
  //   width: 276px !important;
  // }
}


.network_container {
  width: 400px;
  height: 600px;
  z-index: 99999;
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 30px;
  border: 2px solid var(--ica-gray-2);
  font-size: 20px;

  .top-wrapper {
    position: fixed;
    background-color: white;
    height: 300px;
    width: 100%;

    .user-information {
      border: 1px solid var(--gray6);
      border-radius: 6px;
      padding: 10px 14px;

      display: flex;
      flex-direction: column;
      gap: 4px;

      div {
        word-break: break-word;
      }
    }
  }

  .bottom-wrapper {
    margin-top: 300px;
  }
}
