<app-header *ngIf="!isIe" [event]="event" (showNetwork)="showNetwork($event)" (hideNetwork)="hideNetwork($event)"></app-header>
<router-outlet></router-outlet>
<app-footer *ngIf="!isIe"></app-footer>
<!-- <button class="btn board-btn" *ngIf="!isBoard || !isIe" (click)="openKakao()">HELP</button> -->
<!-- <button class="btn btn-help" *ngIf="!isBoard || !isIe" [routerLink]="'/board-regist'">Help</button> -->
<div class="fixed-btns-wrapper">
  <div class="btn-timetable" [routerLink]="'/program'"></div>
  <div class="top_btn" (click)="goTop()"></div>
</div>


<div class="toast-wrapper">
</div>

<div #NetworkContainer class="network-container" *ngIf="isShowNetwork && mySessionStorage.getItem('cfair')">
  <ngx-spinner [fullScreen]="false" type="ball-fall" size="medium">
    <!-- <ngx-spinner [fullScreen]="false" type="timer" size="medium"> -->
    <p class="text-light mt-3">Loading...</p>
  </ngx-spinner>

  <div class="top-wrap">
    <div class="network-header">
      Attendees
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50"
      [infiniteScrollContainer]="'.bottom-wrap'" (scrolled)="onScroll()" [fromRoot]="true">
    </div>

    <button type="button" class="item-btn btn-close" data-dismiss="modal" aria-label="Close" (click)="hideNetwork()">
      <i class="icon-close" aria-hidden="true"></i>
    </button>
    <div class="network-my-info-container">
      <div class="network-my-info-wrapper">
        <div>{{user.firstName?user.firstName+' ':''}}{{user.lastName?user.lastName+' ':''}}{{user.name}}</div>
        <div>{{user.email}}</div>
        <div *ngIf="user.title">{{user.title}}</div>
      </div>
    </div>

    <div class="network-search-container">
      <form class="network-search-wrapper" [formGroup]="search" (submit)="submit()">
        <div class="input-search-wrapper"><input type="text" class="form-control input-search" #NetworkInput
            formControlName="keyword" [readonly]="isLoading ? true : null">
        </div>
        <div class="btn-search-wrapper">
          <button class="btn-search" type="submit"></button>
        </div>
      </form>
    </div>

    <ng-container *ngIf="!lastSubmit;else IsSubmit">
      <div class="network-member-list-header">All Attendees <span class="text-total">({{formattedTotal}})</span></div>
    </ng-container>
    <ng-template #IsSubmit>
      <div class="network-member-list-header">Results for {{lastSubmit}} <span
          class="text-total">({{formattedSearchedTotal}})</span></div>
    </ng-template>
  </div>

  <div class="bottom-wrap">
    <div class="network-member-list-container">
      <ng-container *ngFor="let obj of memberList; let i = index">
        <div class="member-list-wrapper" *ngIf="obj.filteredMembers.length;">
          <div class="initial">{{obj.header}}</div>
          <div class="member-list">
            <ng-container *ngFor="let member of obj.filteredMembers; let j = index">
              <div class="member-item" data-toggle="collapse" role="button"
                [attr.data-target]="'#collapse' + i + '_' + j">
                <div class="member-name">
                  {{member.firstName?member.firstName+' ':''}}{{member.lastName?member.lastName+' ':''}}{{member.name}}
                </div>
                <ng-container *ngIf="isShowCollapse('#collapse'+i+'_'+j); else NotActive">
                  <img class="btn-mailto active" src="../assets/img/custom-ica/mail_icon_active.png">
                </ng-container>
                <ng-template #NotActive>
                  <img class="btn-mailto" src="../assets/img/custom-ica/mail_icon.png">
                </ng-template>
              </div>
              <div class="collapse" [id]="'collapse'+i+'_'+j">
                <div class="member-detail">
                  <div>
                    <a href="mailto:{{member.email}}">
                      {{member.email}}
                    </a>
                  </div>
                  <div>{{member.organization}}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!searchedTotal">
        <div class="text-center no-results">
          No matches found for your search
        </div>
      </ng-container>
    </div>
  </div>

  <div class="network-footer-wrap">
    <div class="back-to-list-btn" [ngClass]="{'active':lastSubmit}">
      <span (click)="resetNetwork()">BACK TO LIST</span>
    </div>
  </div>

</div>
