<div class="player-wrapper">
  <div class="player-vod">
    <div class="left-wrapper" id="playerContainer" *ngIf="content">
      <video #videoPlayer id="videoJs" class="video-js vjs-big-play-centered vjs-default-skin">
      </video>
    </div>
    <!-- <div class="right-wrapper">
      <div class="reply not-drag">
        <div class="reply-list">
          <div #commentList class="reply-history">
            <div class="reply-item" *ngFor="let reply of replys; let last = last">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <div class="reply-content">
                {{reply.content}}
                <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
              </div>
              !-- {{last? downScroll():''}} --!
            </div>
          </div>
        </div>
        <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
          <label>[{{user.name}}]</label>
          <input class="form-control" type="text" placeholder="Submit your question on session."
            formControlName="content" />
          <hr>
          <div class="text-right">
            !-- 0/200 --!
            <button class="btn btn-send" type="submit">SEND</button>
          </div>
        </form>
      </div>
    </div> -->
  </div>
</div>
