.link-item {
  // line-height: 12px;

  // a {
  //   font-size: 18px;
  // }
}

.content-body {
  max-width: 100%;

  &.is-main {
    margin-top: 0 !important;
  }

  .content-inner {
    padding: 0 64px;

    h2 {
      &.program {
        margin-bottom: 74px;
      }

      &.main-speaker-list {
        margin-bottom: 60px;
      }
    }

    .korea-time-wrapper {
      width: 100%;
      max-width: 1200px;
      height: 30px;
      margin: 0 auto;
      font-size: 18px;
      margin-bottom: 16px;

      .korea-time {
        .korea-time-label {
          color: var(--color-main);
          font-weight: 500;
        }

        img {
          width: 24px;
          margin-right: 10px;
        }
      }

      @media(max-width: 600px) {
        font-size: 12px;
      }
    }

    .timetable-category-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
      gap: 10px;

      .category-item {
        max-width: 595px;
        flex: 1;
        height: 100px;
        border-radius: 8px;
        background: #EBE9EA;
        color: #848484;
        font-size: 18px;
        transition: all 0.3s linear;

        &.active,
        &:hover {
          color: var(--white);
          background: transparent linear-gradient(288deg, #8C1558 0%, #A31F52D0 60%, #EC9A12D5 140%, #F4A90C 100%) 0% 0% no-repeat padding-box;

          &:before {
            opacity: 1;
          }
        }
      }
    }

  }

  .speakers {
    max-width: 1200px;
    margin: 0 auto;

    .carousel-inner {
      .carousel-item {
        margin-bottom: 20px;
      }
    }
  }
}

.speaker-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    flex: 1 1;
  }
}

.btn-no-show {
  font-size: 16px;
  color: var(--white);
  text-align: right;
}

// 발표자 목록
.speaker #speakerList {
  .slider-btn {
    position: absolute;
    width: initial;

    &:hover {
      text-decoration: none;
    }

    &.prev {
      left: -40px;
    }

    &.next {
      right: -40px;
    }
  }
}

.circles {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .flower {
    max-width: 140px;
  }

  .circle-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 40px;

    div {
      max-width: 136px;
    }
  }
}


.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  .view-more {
    width: 100%;
    max-width: 1060px;
    height: 66px;
    justify-content: center;
    align-items: center;
    display: flex;

    background: #f1f1f1;
    color: #5a5a5a;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;

    &:hover {
      background: rgb(243, 233, 240);
      color: var(--color-main);
    }

    .icon-more {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      font-size: 10px;
    }
  }
}

.modal.detail-modal .modal-content .modal-body {
  overflow: auto;

  /*modalcontent*/

  figure.speakers {
    text-align: center;

    .photo {
      display: flex;
      padding: 24px;
    }

    figcaption {
      padding: 0;
      background: var(--white);
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .image-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    height: 100%;
    padding-right: 16px;
  }

  .item-info {
    text-align: left;

    >p {
      font-size: 1.25rem;
      margin-bottom: 8px;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }


    .item-company-title {
      display: inline-block;
      font-size: 1.16rem;
    }

  }

  .item-desc {
    padding: 24px;
    font-size: 1.2rem;
    border-top: 2px solid var(--gray18);

    &>p {
      margin-bottom: 0;
      word-break: break-word;
    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .modal-content .modal-body {
    .image-wrapper {
      flex: 0 0 40%;
      // max-width: 40%;
    }
  }

  .program-inner {
    padding: 0 4px !important;
  }
}

.entry-alert-btn {
  display: none;
}

.modal-dialog {
  max-width: 826px;
}

.entry-alert {

  .modal-content {
    padding: 16px;
    max-width: 40%;
    background: var(--gray16);

    @media screen and (max-width: 660px) {
      & {
        max-width: 60%;
      }
    }

    @media screen and (max-width: 550px) {
      & {
        max-width: 80%;
      }
    }

    .modal-title {
      color: var(--white);
      font-size: 1.3rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .shortcut {
      font-size: 16px;
    }

    .temp-wrapper {
      max-width: 80%;
      margin: 0 auto;

      a {
        font-size: 16px;
      }

      a:hover {
        color: blue;
      }

      .flex-wrapper {
        justify-content: center;
      }
    }

    .my-flex {
      flex: 1;
      text-align: center
    }

    .modal-description {
      padding: 16px 0;
      font-size: 18px;

      label {
        font-size: 1.5rem;
        color: var(--yellow1);
      }

      p {
        text-align: center;
        padding: 8px 0;
        // font-size: 1.3rem;
        font-size: 1.6rem;
        color: var(--white);

        span {
          font-size: 2.2rem;
          line-height: 1.7;
        }
      }
    }

    .confirm-title {
      font-size: 1.8rem;
    }

    .confirm-btn {
      height: 40px;
      color: var(--white);
      font-size: 16px;
      font-weight: 600;
      border-radius: 25px;
      background: var(--color-main);

      &:hover {
        background: var(--color-main-hover);
      }
    }
  }
}
