<div class="content-body is-main">
  <app-banner></app-banner>
  <!-- <app-join-us></app-join-us> -->
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <div class="circles">
    <div class="flower">
      <img src="../../../assets/img/custom-ica/main-flower-1.png">
    </div>
    <div class="circle-wrapper">
      <div>
        <img src="../../../assets/img/custom-ica/circle-1.png">
      </div>
      <div>
        <img src="../../../assets/img/custom-ica/circle-2.png">
      </div>
      <div>
        <img src="../../../assets/img/custom-ica/circle-3.png">
      </div>
      <div>
        <img src="../../../assets/img/custom-ica/circle-4.png">
      </div>
    </div>
    <div>
      <img src="../../../assets/img/custom-ica/main-flower-2.png">
    </div>
  </div>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper center">
        <h2 class="program" id="scroll-destination">{{'header.program' | translate}}</h2>
      </div>
    </div>
    <div class="content-inner program-inner">
      <div class="korea-time-wrapper" *ngIf="koreaTime">
        <div class="korea-time">
          <img src="assets/img/custom-ica/circle-clock.png">
          <span class="korea-time-label">{{'page-main.localtime' | translate }} (KST)</span>
          <span [innerHtml]="koreaTime"></span>
        </div>
      </div>
      <div class="timetable-category-wrapper">
        <button class="btn category-item" (click)="goTimetable('main')" [innerHTML]="'main-congress' | translate ">
        </button>
        <button class="btn category-item" (click)="goTimetable('pre')" [innerHTML]="'pre-congress' | translate ">
        </button>
      </div>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper center">
          <h2 class="main-speaker-list">{{'header.speakers' | translate}}</h2>
        </div>
      </div>

      <div class="speakers content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item">
                <div *ngFor="let speaker of speakersItem">
                  <app-speaker [curLang]="curLang" [hidden]="!speaker" [speaker]="speaker"
                    (speakerDetailFn)="getDetail($event)">
                  </app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <!-- <span class="icon-left" aria-hidden="true"></span> -->
            <img src="../../../assets/img/custom-ica/arrow_left.png" aria-hidden="true">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <!-- <span class="icon-right" aria-hidden="true"></span> -->
            <img src="../../../assets/img/custom-ica/arrow_right.png" aria-hidden="true">
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
      <div class="btn-wrapper text-center">
        <button class="content-link view-more" [routerLink]="'/speakers'">
          VIEW MORE&nbsp;&nbsp;>
          <!-- <i class="icon-more" aria-hidden="true"></i> -->
        </button>
      </div>
    </div>
  </section>
</div>

<!-- speakers modal -->
<!-- <div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'"
                alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name">{{speakerDetail.fullName || ''}}</p>
              <p class="item-company">{{speakerDetail.company || ''}}</p>
              <span class="item-company-title">{{speakerDetail.title || ''}}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speakerDetail.description">
              <p [innerHTML]="speakerDetail.description"></p>
            </div>
            <ng-container *ngIf="speakerLoaded">
              <app-program-live [speakerId]="speakerDetail.id" [program-live]="speakerDetail.agenda"></app-program-live>
            </ng-container>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div> -->

<!-- speakers modal -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'"
                alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name">
                {{ speakerDetail.fullNameMultilingual?speakerDetail.fullNameMultilingual[curLang]:speakerDetail.fullName }}
              </p>
              <p class="item-company">
                {{speakerDetail.companyMultilingual?speakerDetail.companyMultilingual[curLang]:speakerDetail.company}}
              </p>
              <span
                class="item-company-title">{{ speakerDetail.titleMultilingual?speakerDetail.titleMultilingual[curLang]:speakerDetail.title }}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speakerDetail.description">
              <p
                [innerHTML]="speakerDetail.descriptionMultilingual?speakerDetail.descriptionMultilingual[curLang]:speakerDetail.description">
              </p>
            </div>
            <ng-container *ngIf="speakerLoaded">
              <app-program-live [speakerId]="speakerDetail.id" [program-live]="speakerDetail.agenda"></app-program-live>
            </ng-container>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
 <div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0"> -->
 <div class="modal-title text-center confirm-title">
          Notice
        </div> -->
 <div class="modal-description">
          <div class="text-center text-white">&#8251; SHORTCUT &#8251;</div>
          <!-- <div class="text-center shortcut"><a [routerLink]="['/live']">{{'header.live' | translate }}</a></div> -->
          <div class="text-center shortcut"><a [routerLink]="['/program']">{{'header.program' | translate }}</a></div>
          <hr class="bg-white">
          <div class="text-center text-white">&#8251; SURVEY &#8251;</div>
          <div class="temp-wrapper">
            <div class="d-flex flex-wrapper">
              <div class="my-flex"><a href="https://forms.gle/XE97vBHt8JLH4TpbA" target="_blank">ENGLISH</a></div>
              <div class="my-flex">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeB_QBwSmWtcRvWtwotTC6SF4rgZtbEw4hCiqjDCm349bJx4g/viewform"
                  target="_blank">한국어</a>
              </div>
            </div>
            <div class="d-flex flex-wrapper">
              <div class="my-flex">
                <a href="https://forms.gle/5FXXw54vwYkd4PoU9" target="_blank">ESPAÑOL</a>
              </div>
              <div class="my-flex">
                <a href="https://forms.gle/EUXxV3nw1yCquuSc6" target="_blank">FRANÇAIS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
            Platform
          </button>
        </div>
        <button class="btn btn-block btn-no-show" (click)="noModal()" data-toggle="modal" data-target="#entryAlert">
          {{'noModal' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Entry modal -->
<!-- <div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title text-center confirm-title">
          Notice
        </div>
        <div class="modal-description text-white">
          <span [innerHTML]="'restart' | translate"></span>
        </div>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
            Platform
          </button>
        </div>
        <button class="btn btn-block btn-no-show" (click)="noModal()" data-toggle="modal" data-target="#entryAlert">
          {{'noModal' | translate}}
        </button>
      </div>
    </div>
  </div>
</div> -->
