article {
  margin: 0 auto;
  margin-bottom: 48px;
}

.content-inner {
  // margin-top: 60px;
}

.category-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 10px;

  .category-item {
    max-width: 595px;
    flex: 1;
    height: 100px;
    border-radius: 8px;
    background: #EBE9EA;
    color: #848484;
    font-size: 18px;
    transition: all 0.3s linear;

    &.active,
    &:hover {
      color: var(--white);
      background: transparent linear-gradient(288deg, #8C1558 0%, #A31F52D0 60%, #EC9A12D5 140%, #F4A90C 100%) 0% 0% no-repeat padding-box;

      &:before {
        opacity: 1;
      }
    }
  }
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .list-item {
    // max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

.title-wrapper {
  padding-bottom: 16px;

  h2 {
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  &.speakers-category-name {
    h2 {
      font-size: 20px;
    }
  }

  .sub-text {
    font-size: 1.6rem;
  }
}

.modal.detail-modal .modal-content .modal-body {
  overflow: auto;

  /*modalcontent*/

  figure.speakers {
    text-align: center;

    .photo {
      display: flex;
      padding: 24px;
    }

    figcaption {
      padding: 0;
      background: var(--white);
      text-align: left;
    }
  }

  a {
    display: block;
  }

  .image-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    height: 100%;
    padding-right: 16px;
  }

  .item-info {
    text-align: left;

    >p {
      font-size: 1.25rem;
      margin-bottom: 8px;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }


    .item-company-title {
      display: inline-block;
      font-size: 1.16rem;
    }

  }

  .item-desc {
    padding: 24px;
    font-size: 1.2rem;
    border-top: 2px solid var(--gray18);

    &>p {
      margin-bottom: 0;
      word-break: break-word;
    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .modal-content .modal-body {
    .image-wrapper {
      flex: 0 0 40%;
      // max-width: 40%;
    }
  }
}
