<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="category-wrapper">
          <button class="btn category-item" [ngClass]="{'active': 0 === curParentCategory}"
            (click)="setParentCategory(0)" [innerHTML]="'main-congress' | translate">
          </button>
          <button class="btn category-item" [ngClass]="{'active': 1 === curParentCategory}"
            (click)="setParentCategory(1)" [innerHTML]="'pre-congress' | translate">
          </button>
      </div>
      <article>
        <div class="list-wrapper">
          <div class="list-item" *ngFor="let speaker of speakers">
            <app-speaker [curLang]="curLang" [speaker]="speaker" (speakerDetailFn)="getDetail($event)">
            </app-speaker>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- speakers modal -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers" *ngIf="speakerDetail">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="speakerDetail.photoUrl?speakerDetail.photoUrl:'assets/img/default_lecturer.png'"
                alt="speakerDetail.name">
            </div>
            <div class="item-info">
              <p class="item-name">
                {{ speakerDetail.fullNameMultilingual?speakerDetail.fullNameMultilingual[curLang]:speakerDetail.fullName }}
              </p>
              <p class="item-company">
                {{speakerDetail.companyMultilingual?speakerDetail.companyMultilingual[curLang]:speakerDetail.company}}
              </p>
              <span
                class="item-company-title">{{ speakerDetail.titleMultilingual?speakerDetail.titleMultilingual[curLang]:speakerDetail.title }}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="speakerDetail.description">
              <p
                [innerHTML]="speakerDetail.descriptionMultilingual?speakerDetail.descriptionMultilingual[curLang]:speakerDetail.description">
              </p>
            </div>
            <ng-container *ngIf="speakerLoaded">
              <app-program-live [speakerId]="speakerDetail.id" [program-live]="speakerDetail.agenda"></app-program-live>
            </ng-container>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
