<div class="session-wrapper" *ngIf="session">
  <div class="content-inner session-item">
    <div class="lt">
      <div class="title">
        <span *ngIf="session.title">{{session.title}}</span>
      </div>
      <div class="rateable">
        {{session.isRateable?'RATING':''}}
      </div>
    </div>
    <div class="rt">
      <div class="d-flex justify-content-between">
        <div class="sub-title"
          [innerHTML]="session.subTitleMultilingual?session.subTitleMultilingual[curLang]:session.subTitle"
          style="font-weight: bold;">
        </div>
        <!-- <div class="btn-survey-wrapper" *ngIf="session.siteUrlMultilingual && session.siteUrlMultilingual[curLang]">
          <a [href]="session.siteUrlMultilingual[curLang]" target="_blank">
            <button class="btn btn-survey">SURVEY</button>
          </a>
        </div> -->
      </div>

      <div class="description"
        [innerHTML]="session.descriptionMultilingual?session.descriptionMultilingual[curLang]:session.description">
      </div>

      <div class="chair" *ngIf="session.chairs && session.chairs.length">
        Chair:
        <span *ngFor="let chair of session.chairs;let i = index">
          {{chair.name}}<span *ngIf="session.chairs[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="session.organizers && session.organizers.length">
        Organizers:
        <span *ngFor="let organizer of session.organizers;let i = index">
          {{organizer.name}}<span *ngIf="session.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="organizers" *ngIf="session.speakers && session.speakers.length">
        {{session.speakers.length>1?"Chairs":"Chair"}}:
        <span *ngFor="let speaker of session.speakers;let i = index">
          {{speaker.fullNameMultilingual?speaker.fullNameMultilingual[curLang]:speaker.fullName}}<span
            *ngIf="session.speakers[i+1]">,</span>
        </span>
      </div>

      <div class="lectures" *ngIf="session.lectures && session.lectures.length">
        <app-program-vod *ngFor="let lecture of session.lectures" [vod]="lecture"></app-program-vod>
      </div>
    </div>
  </div>
</div>
