<div class="agenda-wrapper" *ngIf="agenda" [ngClass]="{'is-live' : isLive}">
  <!-- <div class="content-inner agenda-item" (click)="detailFn.emit(agenda)"> -->
  <div class="content-inner agenda-item" [ngClass]="{'is-sub-session': agenda.endPopup}">
    <div class="lt">
      <div class="time">
        <span *ngIf="agenda.startTime">{{agenda.startTime}}</span>
        <span *ngIf="agenda.endTime">~{{agenda.endTime}}</span>
      </div>
      <div class="live" *ngIf="isLive">LIVE</div>
    </div>
    <div class="rt">
      <div class="title">
        <h2 class="m-0" [innerHTML]="agenda.titleMultilingual ? agenda.titleMultilingual[curLang] : agenda.title"></h2>
      </div>

      <div class="organizers" *ngIf="agenda.organizers && agenda.organizers.length">
        Organizers:
        <span *ngFor="let organizer of agenda.organizers;let i = index">
          {{organizer.name}}<span *ngIf="agenda.organizers[i+1]">,</span>
        </span>
      </div>

      <div class="description" *ngIf="agenda.descriptionMultilingual"
        [innerHTML]="agenda.descriptionMultilingual[curLang]">
      </div>

      <div class="organizers" *ngIf="agenda.speakers && agenda.speakers.length">
        <div *ngIf="agenda.endPopup">Chair(s): </div>
        <span *ngFor="let speaker of agenda.speakers;let i = index">
          <span
            class="organizers-fullName">{{speaker.fullNameMultilingual?speaker.fullNameMultilingual[curLang]:speaker.fullName}}</span><br>
          {{speaker.companyMultilingual?speaker.companyMultilingual[curLang]:speaker.company}}<span
            *ngIf="agenda.speakers[i+1]">,</span><br>
        </span>
      </div>

      <div class="lectures" *ngIf="agenda.lectures && agenda.lectures.length">
        <app-program-vod *ngFor="let lecture of agenda.lectures" [vod]="lecture"></app-program-vod>
      </div>
    </div>
  </div>
</div>
