<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors">
  <div class="section">
    <div class="banner_line">
      <img src="../../../assets/img/e-booth/imgs/banner.png" alt="">
    </div>
    <div class="banner_text">
      <span>
        {{'e-booth.e-booth-text' | translate}}
      </span>
      <!-- <span>
          Welcome to the Cooperative
          Innovation Fair! Here you will join cooperatives and organisations who will present their products, services
          and innovations to all Congress participants.
        </span> -->
    </div>
    <div class="line justy_center">
      <img src="../../../assets/img/e-booth/imgs/booth1.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('61949b8bb621b60012673925')">
      <img src="../../../assets/img/e-booth/imgs/booth2.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a0d7b621b6001267392d')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth3.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a0ecb621b6001267392e')">
      <img src="../../../assets/img/e-booth/imgs/booth4.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a100b621b60012673930')">
      <img src="../../../assets/img/e-booth/imgs/booth5.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a10fb621b60012673931')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth6.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a12db621b60012673932')">
      <img src="../../../assets/img/e-booth/imgs/booth7.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a1cc379b8f001232b228')">
      <img src="../../../assets/img/e-booth/imgs/booth8.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a1de379b8f001232b229')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth9.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a1f0379b8f001232b22a')">
      <img src="../../../assets/img/e-booth/imgs/booth10.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a1fe379b8f001232b22b')">
      <img src="../../../assets/img/e-booth/imgs/booth11.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a20f379b8f001232b22c')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth12.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a21e379b8f001232b22d')">
      <img src="../../../assets/img/e-booth/imgs/booth13.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a22f379b8f001232b22e')">
      <img src="../../../assets/img/e-booth/imgs/booth14.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a23e379b8f001232b22f')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth15.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a251379b8f001232b230')">
      <img src="../../../assets/img/e-booth/imgs/booth16.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a267379b8f001232b231')">
      <img src="../../../assets/img/e-booth/imgs/booth17.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a278379b8f001232b232')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth18.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a285379b8f001232b233')">
      <img src="../../../assets/img/e-booth/imgs/booth19.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a297379b8f001232b234')">
      <img src="../../../assets/img/e-booth/imgs/booth20.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a2a6379b8f001232b235')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth21.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a2ba379b8f001232b236')">
      <img src="../../../assets/img/e-booth/imgs/booth22.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a2d7379b8f001232b237')">
      <img src="../../../assets/img/e-booth/imgs/booth23.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a8bc83bd860013462c8e')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth24.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a8ca83bd860013462c8f')">
      <img src="../../../assets/img/e-booth/imgs/booth25.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a8dc83bd860013462c90')">
      <img src="../../../assets/img/e-booth/imgs/booth26.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a8eb83bd860013462c91')">
    </div>
    <div class="line">
      <img src="../../../assets/img/e-booth/imgs/booth27.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a8f883bd860013462c92')">
      <img src="../../../assets/img/e-booth/imgs/booth28.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a90283bd860013462c93')">
      <img src="../../../assets/img/e-booth/imgs/booth29.png" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6194a90f83bd860013462c95')">
    </div>
  </div>
</div>
<!-- ! ---------------------------Publish END--------------------------- -->

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img *ngIf="selectedBooth?.photoUrl" [src]="selectedBooth?.photoUrl+'?'+random || ''"
              alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">
                {{selectedBooth?.nameMultilingual?selectedBooth.nameMultilingual[curLang]:selectedBooth?.name || ''}}
              </p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_target" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>
