// break points
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;

// mixin
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.stamp-tour {
  border-top: 3px dotted gray;
  padding-top: 60px;
  margin-top: 36px;
  padding-bottom: 0;

  .stamp-tour-title {
    font-size: 2.3rem;
    margin-bottom: 26px;
  }

  .stamp-item {
    display: flex;
    position: relative;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
    max-width: 19%;
    height: 15vh;
    margin: 0 0.5%;
    margin-bottom: 16px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    border: 1px solid var(--border_gray);

    &.visited {
      background-color: rgba(0, 0, 0, 0.3);
    }

    img {
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90%;

    }

    .spon-logo {


      &.opacity {
        opacity: 0.5;
      }
    }

    .stamp-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}


// *** e-booth *** //

html,
body {
  margin: 0;
  height: 100%;
}

.sponsor {
  min-height: 100%;
}

.section {
  background: url(../../../assets/img/e-booth/imgs/bg1.png) no-repeat top / cover;
  height: 100%;
  position: relative;
  padding: 220px 0 4% 0;

  @include desktop {
    background-position: center;
    padding: 220px 0 10% 0;
  }

  @include mobile {
    background-position: center;
    padding: 220px 0 10% 0;
  }
}
.banner_text {
  text-align: center;
  color: var(--ica-text-strong); 
  font-size: 2rem;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1%;
  margin-bottom: 3%;
  text-shadow: 1px 4px 8px #8d8d8d;
  font-weight: bold;
}

@mixin set($max_parent, $max_child, $desktop_parent, $desktop_child, $moblie_parent, $moblie_child) {
  width: $max_parent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;

  @include desktop {
    width: $desktop_parent;
  }

  @include mobile {
    width: $moblie_parent;
    margin-bottom: 0;
  }

  img {
    width: $max_child;
    transition: .5s;

    @include desktop {
      width: $desktop_child;
    }

    @include mobile {
      width: $moblie_child;
      margin-bottom: 30px;
    }
  }
}

.line {
  @include set(45%, 28%, 70%, 30%, 60%, 100%);
}
.banner_line {
  @include set(40%, 100%, 80%, 100%, 98%, 100%);
  justify-content: center;
  margin-top: 1%;
}

.justy_center {
  justify-content: center;

  img {
    &:first-child {
      margin-right: 40px;

      @include mobile {
        margin-right: 0;
      }
    }
  }
}

.item-desc {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  font-size: 1.33rem;

  &>p {
    margin-bottom: 0;
    word-break: break-all;
  }

  .image-item {
    margin-right: 16px;
  }
}

// ! MODAL --------------------------------------------------------------- 
/* 스템프투어 당첨 이벤트 모달 */
.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--modal-background);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);
    }
  }
}


.modal.detail-modal {

  .modal-body {

    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 95%;
        max-height: 95%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--common);
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray22);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--border_gray);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--btn_download_hover);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}

article {
  margin: 0 auto;
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.list-wrapper {
  .list-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

@media screen and (max-width : 1280px) {
  .stamp-tour {
    .stamp-item {
      height: 120px;
    }
  }
}

@media(max-width: 1025px) {
  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}


@media (max-width: 768px) {
  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }


  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 33.33%;
      max-width: 33.3%
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 24%;
      max-width: 24%;

    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .item-info {
    .item-name {
      word-break: break-all;
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 32.33%;
      max-width: 32.33%;
    }
  }
}

@media (max-width: 414px) {
  .modal.detail-modal .item-info {
    max-width: 137px;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 160px;
    }
  }
}
