<div class="program-nav-wrapper not-drag">
  <!-- <div class="program-nav-title">Day</div> -->
  <div class="program-nav-list days" *ngIf="dates">
    <div class="content-inner">
      <div class="program-nav-item" *ngFor="let date of dates" [ngClass]="{'active': selected?.date?.id === date.id}"
        (click)="selected?.date?.id !== date.id ? setDateFn.emit(date) : ''">
        {{date.date}}
      </div>
    </div>
  </div>
  <!-- 
    28: 6156c44f1a21ea0013439637
    29: 611eefecbe4ba9001371c889
    30: 612db1f7fa3182001279df01
    -->
  <!-- <div class="program-nav-title">Channel</div> -->
  <div class="program-nav-list channels" *ngIf="rooms && !isVodDetail">
    <div class="content-inner">
      <ng-container *ngFor="let room of rooms; let i = index">
        <div class="program-nav-item" [ngClass]="{'active': selected?.room?.id === room.id}"
          (click)="selected?.room?.id !== room.id ? setRoomFn.emit(room) : ''" *ngIf="
          !((
          selected?.date?.id === '6156c45673b2e90012f138bb' ||
          selected?.date?.id === '6156c458cfe3f3001401c21a' ||
          selected?.date?.id === '6156c45a0e88000013256713'
          ) &&
          (
            room.id === '619b5543b19d9000134edbcc' || 
            room.id === '619b5550b19d9000134edbcd' 
          )) &&
          !((selected.date.id === '612db1f7fa3182001279df01') && (room.id === '619b5550b19d9000134edbcd'))
          ">
          {{ (selected?.date?.id === '612db1f7fa3182001279df01' && i === 5)?'Room 6 (Vista)':room.roomName }}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="program-nav-list channels" *ngIf="rooms && isVodDetail">
    <div class="content-inner">
      <ng-container *ngFor="let room of rooms; let i = index">
        <div class="program-nav-item" [ngClass]="{'active': selected?.room?.id === room.id}"
          (click)="setRoomFn.emit(room)" *ngIf="
          !((
            selected?.vodAgenda?.date?.id === '6156c45673b2e90012f138bb' ||
            selected?.vodAgenda?.date?.id === '6156c458cfe3f3001401c21a' ||
            selected?.vodAgenda?.date?.id === '6156c45a0e88000013256713'
          ) &&
          (
            room.id === '619b5543b19d9000134edbcc' || 
            room.id === '619b5550b19d9000134edbcd' 
          ))">
          {{ (selected?.vodAgenda?.date?.id === '612db1f7fa3182001279df01' && i === 5)?'Room 6 (Vista)':room.roomName }}
        </div>
      </ng-container>
    </div>
  </div>

</div>
