.program-nav-wrapper {
  margin-bottom: 14px;
}

.program-nav-title {
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.program-nav-list {
  // min-height: 56px;
  background: var(--white);
  text-align: center;

  .content-inner {
    min-height: 100%;
  }

  .program-nav-item {
    padding: 2px 6px;
    min-width: 10%;
    // height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--description_gray);
    border: 1px solid var(--border_gray);
    background: var(--white);
    box-sizing: border-box;

    &.active {
      color: var(--white);
    }
  }

  &.days .program-nav-item {
    max-width: 30%;
    height: 35px;

    cursor: pointer;
    background: var(--gray6);
    color: var(--text-gray);

    &.active {
      color: var(--white);
      background: var(--color-main);
    }
  }

  &.channels .program-nav-item {
    height: 35px;
    cursor: pointer;
    background: var(--gray6);
    color: var(--text-gray);

    &.active {
      color: var(--white);
      background: var(--color-main);
    }
  }
}

@media (max-width: 767px) {
  .program-nav-list .program-nav-item {
    font-size: 11px;
    padding: 2px;
  }

  .days {
    margin-bottom: 4px;
  }
}
