.content-inner {
  .room-nav {
    width: 100%;
    justify-content: center;
    gap: 4px;
    margin-bottom: 40px;
    flex-wrap: wrap;

    .btn-room-wrapper {
      .btn-room {
        background: var(--gray6);
        color: var(--text-gray);
        min-width: 80px;

        &.active,
        &:hover {
          background: var(--color-main);
          color: var(--white);
        }
      }
    }
  }

  .recorded-sessions {
    .vod-header {
      width: 100%;
    }

    .cinemas-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 4px;
    }

    .btn-cinema {
      background: var(--color-main);
      color: var(--white);
    }
  }

  .session-list-wrapper {
    .session-title {
      color: var(--color-main);
      font-weight: bold;
      font-size: 20px;
      font-family: NunitoBold;
    }

    .info-wrapper {
      display: flex;
      margin-bottom: 16px;

      .agenda-thumbnail,
      .agenda-info .agenda-title,
      .agenda-play img {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .agenda-thumbnail {
        flex: 1;
        align-self: center;
        margin-right: 6px;
        display: flex;
        justify-content: center;
        min-width: 80px;

        // max-height: 105px;
        img {
          max-height: 105px;
        }
      }

      .agenda-info {
        flex: 4;
        margin-right: 6px;
        align-self: center;
        max-width: 500px;

        .agenda-text {
          .agenda-title {
            font-size: 16px;
            // color: var(--gray16);
            color: var(--color-main);
            font-family: NunitoBold;

            span {
              p {
                margin-bottom: 0 !important;
              }
            }
          }

          .agenda-description {
            width: 100%;
            color: var(--text-gray);
            font-size: 13px;

            p {
              margin-bottom: 0 !important;
            }
          }
        }

        // .agenda-speaker-list {
        //   display: flex;
        //   gap: 20px;
        // }

        // .agenda-speaker {
        //   // max-width: 200px;

        //   .speaker-info {
        //     .speaker-company {
        //       margin-bottom: 4px;
        //     }

        //     .speaker-fullname {
        //       font-size: 14px;
        //       color: var(--black);
        //       font-family: NunitoBold;
        //     }
        //   }
        // }
      }

      .agenda-play {
        flex: 1;
        align-self: center;
        min-width: 50px;

        img {
          width: 40px;
        }
      }

      .btn-survey-wrapper {
        flex: 1;
        align-self: center;

        .btn-survey {
          background: var(--color-main);
          color: var(--white);
          font-size: 14px;

          &:hover {
            background: var(--color-main-hover);
          }
        }
      }
    }
  }
}

@media screen and (max-width:400px) {
  .agenda-description {
    word-break: break-word;
  }
}



.title-wrapper {
  h2 {
    &.vod {
      margin-bottom: 10px;
    }
  }
}
