<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod recorded-sessions">
          <div>{{'header.vod' | translate }}</div>
          <div class="cinemas-wrapper">
            <div>
              <a href="https://www.youtube.com/watch?v=WLkzBjcGsew&list=PLaHE-thPqJnVVnDo3LrqSo2y_TmK5SKXQ"
                target="_blank">
                <button class="btn btn-cinema">
                  COOP CINEMA 1
                </button>
              </a>
            </div>
            <div>
              <a href="https://www.youtube.com/watch?v=KQs5qKr4tiA&list=PLaHE-thPqJnVVnDo3LrqSo2y_TmK5SKXQ&index=11&ab_channel=Aroundtheworld.coop"
                target="_blank">
                <button class="btn btn-cinema">
                  COOP CINEMA 2
                </button>
              </a>
            </div>
            <div>
              <a href="https://www.youtube.com/watch?v=WqwRrMvDbsg&list=PLaHE-thPqJnVVnDo3LrqSo2y_TmK5SKXQ&index=13&ab_channel=Aroundtheworld.coop"
                target="_blank">
                <button class="btn btn-cinema">
                  COOP CINEMA 3
                </button>
              </a>
            </div>
            <div>
              <a href="https://vimeo.com/567860434"
                target="_blank">
                <button class="btn btn-cinema">
                  COOP CINEMA 4
                </button>
              </a>
            </div>
          </div>
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected"
          (setDateFn)="setAgendaList($event, rooms[0])" (setRoomFn)="setAgendaList(selected.date, $event)">
        </app-program-nav>
        <div class="session-list-wrapper" *ngFor="let agenda of agendas">
          <ng-container *ngIf="agenda.isSession">
            <!-- ! 세션인 경우에만 출력한다.-->
            <div class="info-wrapper">
              <div class="agenda-thumbnail">
                <ng-container *ngIf="agenda.contents; else NoContent">
                  <img
                    [src]="agenda.contents.thumbNailUrlMultilingual?agenda.contents.thumbNailUrlMultilingual[curLang]:agenda.contents.thumbNailUrl"
                    (click)="goAgendaDetail(agenda)">
                </ng-container>
                <ng-template #NoContent>
                  <img src="../../../../assets/img/thumbnail_temp.png">
                </ng-template>
              </div>
              <div class="agenda-info">
                <div class="agenda-text">
                  <div class="agenda-title ellipsis line"
                    [innerHTML]="agenda.subTitleMultilingual?agenda.subTitleMultilingual[curLang]:agenda.subTitle"
                    (click)="goAgendaDetail(agenda)">
                  </div>
                  <div class="agenda-description ellipsis line"
                    [innerHTML]="agenda.descriptionMultilingual?agenda.descriptionMultilingual[curLang]:agenda.description">
                  </div>
                </div>
                <!-- <div class="agenda-speaker-list">
                  <div class="agenda-speaker" *ngFor="let speaker of agenda.speakers">
                    <div class="speaker-fullname"
                      [innerHtml]="speaker.fullNameMultilingual?speaker.fullNameMultilingual[curLang]:speaker.fullName">
                    </div>
                    <div class="speaker-info">
                      <div class="speaker-company">
                        {{speaker.companyMultilingual?speaker.companyMultilingual[curLang]:speaker.company}}
                      </div>
                      <div>
                        {{speaker.titleMultilingual?speaker.titleMultilingual[curLang]:speaker.title}}
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="agenda-play">
                <!-- ! 콘텐츠가 꽂혀있는지 여부만으로 show/hide 가능하다 -->
                <img *ngIf="agenda.contents" src="../../../../assets/img/btn-play.png" (click)="goAgendaDetail(agenda)">
              </div>
              <!-- <div class="btn-survey-wrapper">
                <a *ngIf="agenda.siteUrlMultilingual && agenda.siteUrlMultilingual[curLang]"
                  [href]="agenda.siteUrlMultilingual[curLang]" target="_blank">
                  <button class="btn btn-survey">SURVEY</button>
                </a>
              </div> -->
            </div>
          </ng-container>


        </div>
      </div>

    </article>
  </div>
</div>
