/* You can add global styles to this file, and also import other style files */
@import "./assets/icon-font.css";

html,
body {
  font-family: 'Nunito Sans';
}

.cursor-pointer {
  cursor: pointer;
}

@font-face {
  font-family: NunitoBold;
  src: url(./assets/fonts/NunitoSans-Bold.ttf) format("truetype");
}

.pb-0 {
  padding-bottom: 0 !important;
}

:root {
  // Plain Color
  --white: #FFF;
  --black: #000;
  --red: #FF0000;
  --pink: #FFE9E2;
  --navy: #00213E;

  // Old Version Color
  --main-blue: #355bb7;
  --blue1: #003BFF;
  --blue2: #0077FF;
  --blue3: #0089FF;
  --blue4: #0091BE;
  --blue5: #678AFB;
  --blue6: #678AFF;
  --blue7: #68B9FF;
  --blue8: #0053FA;
  --blue9: #017FFB; // 마이페이지
  --blue10: #008ABC;
  --blue11: #c8e4ee;
  --bluegray: #7C8C9B;
  --blue12: #4D87FA;

  --darkBlue: #203663;
  --darkBlue2: #43556b;
  --darkBlue3: #859ae5;
  --skyBlue: #BED6EE;

  --orange: rgb(248, 221, 204);
  // timetable session background color
  --tt_red: rgb(248, 221, 204);
  --tt_yellow: rgb(253, 239, 193);
  --tt_sky: rgb(213, 229, 245);
  --tt_green: rgb(218, 238, 208);
  --tt_pink: rgb(252, 236, 245);



  --orange2: #FFAA00;

  --gray: #BFC0C0;
  --gray2: #DFDFDF; // #DCDCDC
  --gray3: #E8EAEA;
  --gray4: #E9EAEA;
  --gray5: #E9F3FF;
  --gray6: #F2F2F2;
  --gray7: #F3F3F3;
  --gray8: #FAFAFA;
  --gray9: #EFEFEF;
  --gray10: #323232;
  --gray11: #6A6A6A;
  --gray12: #6E6E6E;
  --gray13: #787878; // #757575
  --gray14: #8E8E8E;
  --gray15: #808080;

  --gray16: #333;
  --gray17: #666;
  --gray18: #888;
  --gray19: #999;
  --gray20: #AAA;
  --gray21: #DDD;

  --gray22: #E9E9E9;
  --gray23: #565656;
  --gray24: #495057;
  --gray25: #8C8C8C;
  --gray26: #C8C8C8;
  --gray27: #BCBCBC;
  --gray28: #7C8C9B;
  --gray29: #D8D8D8;
  --gray30: #e6e6e7;
  --green: #DBFFF9;

  --ica-text-main: #e7d3e6;
  --ica-text-strong: #760047;

  //! New
  // index
  --btn-help: var(--color-main); // 화면 우측하단 Help 버튼

  // common - 공통
  --color-main: #8C1558; // 메인 배경
  --color-main-hover: #740c47;
  --color-pre: rgb(19, 42, 81); // pre congress 배경
  --btn_date_active: #00213E; // 선택된 날짜 버튼
  --btn_download_hover: #0053FA; // 다운로드 버튼
  --description_gray: #323232; // 내용 텍스트
  --title_gray: #333;
  --modal-background: #333;

  --text-gray: #707070;
  --ica-gray-2: #C2C0C1;
  --btn_back_bg: #e32a12;
  --border_gray: #8C8C8C;

  // comp:header - 헤더
  --nav-link-active: #72124A;
  --live: #FFAA00;
  --vod: #68B9FF;

  --content-text1: #555555;
  // 커스터마이즈
  // Network
  --network_bg: #e7d3e6;
  --network_txt: #760047;

  --btn-active: #DA3439;
  --text-black1: #242424;
  --bg-notice: rgb(252, 233, 236);
}

.mt-3 {
  margin-top: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

body,
html {
  margin: 0;
  height: 100%;
  font-size: 12px;

  @media (max-width: 767px) {
    & {
      font-size: 10px;
    }
  }
}

ul,
ol,
li {
  list-style: none;
}

a,
button {
  border: none;
  background: none;
  outline: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  cursor: pointer;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.f-1 {
  flex:1
}

img {
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.mb-3 {
  margin-bottom: 30px !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* wrapper, inner*/
.content-body {
  margin: 0 auto;
  margin-top: 60px;
  width: 100%;
  max-width: 1600px;
  min-height: calc(100% - 120px);
  padding-top: 220px;
  background: var(--gray1);
  box-sizing: border-box;
  overflow-y: hidden;
}

.content-wrapper {
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;

  @media (max-width: 767px) {
    & {
      padding: 40px 0;
    }
  }
}

.about {
  p {
    word-break: break-word;
  }

  margin-bottom: 104px;
}

.content-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;

  @media (max-width: 767px) {
    & {
      padding: 0 16px;
    }
  }
}

// 공통 타이틀박스
.title-wrapper {
  &.center {
    text-align: center;
  }
}

/* 말줄임 표시 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;

  // 두줄일때
  &.line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
  }

  // 네줄일때
  &.line-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: normal;
  }
}


/* Player */
.vjs-vimeo {
  z-index: 10;
}

/* modal */
.modal.detail-modal {
  overflow: hidden;
  background: RGBA(0, 0, 0, .5);

  .modal-content {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }

  .modal-header {
    position: relative;
    z-index: 99;
    padding: 0;
    border: 0;
    background: transparent;

    .item-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 16px;
      right: 16px;
      width: 2.62rem;
      height: 2.62rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      border: none;

      .icon-close-w {
        font-size: 1rem;
      }
    }
  }

  .modal-body {
    overflow: scroll;
    max-height: 98vh;
    background: var(--white);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
  }
}



/* Iframe */

.iframe-wrapper {
  max-width: 640px;
  min-width: 100%;
  padding: 8px;
  text-align: center;

  p {
    text-align: left;
    word-break: break-all;
  }

  & iframe {
    width: 100%;
    height: auto;
    min-height: 30vh;
  }
}

.only-iframe-wrapper {
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Search Wrapper */

.search-wrapper {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;

  .select-box {
    display: inline-block;
    width: 150px;
    height: 40px;
    padding-right: 32px;
    font-size: 1.2rem;
    border: 1px solid var(--border_gray);
    background: url('/assets/icons/select_arrow.svg');
    background-size: 9px;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  .search-input {
    display: inline-block;
    width: 380px;
    height: 40px;
    margin-left: 16px;
    padding-left: 40px;
    font-size: 1.2rem;
    border: 1px solid var(--border_gray);
    background: url('/assets/icons/search-icon.svg');
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: none;
  }

  @media(max-width: 767px) {
    height: 36px;

    .select-box {
      width: 130px;
      height: 36px;
      font-size: 1.1rem;
    }

    .search-input {
      width: 100%;
      max-width: 314px;
      height: 36px;
      padding-left: 40px;
      font-size: 1.1rem;
    }
  }

  @media(max-width: 575px) {
    height: 80px;

    .select-box {
      width: 100%;
    }

    .search-input {
      max-width: inherit;
      margin-left: 0;
    }

  }
}

// !toast css
.toast {
  font-size: 1.2rem;
  background: none;

  @media(max-width: 575px) {
    font-size: 1.1rem;
  }

  box-shadow: 0 0.25rem 1.75rem rgb(0 0 0 / 50%);
}

.toast-header {
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  padding-bottom: 0;
  color: #2454fa;
  border-bottom: 0;
  background: #ffffff;
}

.toast-body {
  border-radius: 0 0 8px 8px;
  padding-top: 2px;
  background: #ffffff;
  color: #2e2e2e;
}

.toast-header button {
  color: #000;
}

.toast-wrapper {
  width: 340px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  min-width: 320px;
}

.toast.show {
  border-radius: 8px;
}


/* 공통 스타일 클래스 */
.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.p-0 {
  padding: 0;
}

.not-drag {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}
