<div class="player-wrapper" *ngIf="liveUrl" [ngClass]="{'justify-content-center': !isLive}">
  <div class="left-wrapper" id="playerContainer">
    <div class="player">
      <div class='embed-container'>
        <iframe [src]="liveUrl" frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="right-wrapper" *ngIf="isLive">
    <div class="reply not-drag">
      <div class="reply-list">
        <div #commentList class="reply-history">
          <ng-container *ngFor="let reply of replys; let index = index">
            <div class="reply-item" *ngIf="reply.member">
              <div class="reply-user">{{reply?.member?.name}}</div>
              <span class="reply-content" [innerHTML]="reply.content | linkify"></span>
              <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
            </div>
          </ng-container>
        </div>
      </div>
      <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
        <label>[{{user.firstName?user.firstName+' ':''}}{{user.lastName?user.lastName+' ':''}}{{user.name}}]</label>
        <input class="form-control" type="text" placeholder="Submit your question on session."
          formControlName="content" />
        <hr>
        <div class="text-right">
          <!-- 0/200  -->
          <button class="btn btn-send" type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>
