.title-wrapper {
  h2 {
    &.vod {
      font-family: NunitoBold;
      font-size: 20px;

      .agenda-date,
      .agenda-parent-title {
        // color: var(--color-main);
      }

      .agenda-title {
        // color: var(--gray18);
        text-align: center;
        color: var(--color-main);
      }
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      line-height: 1;
      border-radius: 7px;
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.content-inner {
  max-width: 1200px;
}

.icon-warning {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-right: 8px;
  background-image: url(/assets/img/icon-warning.png);
  background-size: contain;
  vertical-align: middle;
  animation: twinkle 1s infinite;
  -webkit-animation: twinkle 1s infinite;
}

.slideX {
  animation: slideX 1.5s ease-in infinite;
  -webkit-animation: slideX 1.5s ease-in infinite;
}

.back-to-list {
  padding: 32px 0;
  text-align: center;

  button {
    width: 170px;
    height: 40px;
    color: var(--white);
    font-weight: 600;
    border: none;
    background: var(--color-main);
  }
}


.banners-wrapper {
  position: relative;
  padding: 0 34px;

  .banners-btn {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
    background: #EAEAEA;

    &.banners-prev {
      left: 0;

      img {
        transform: rotate(-90deg);
      }
    }

    &.banners-next {
      right: 0;

      img {
        transform: rotate(90deg);
      }
    }
  }

  ng-image-slider {
    display: flex;

    .ng-image-slider {
      .ng-image-slider-container .main .img-div {
        position: relative;
        padding: 0 8px;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;

        img {
          max-width: 80%;
          max-height: 80%;
          border-radius: 0;
          // max-height: 40px ;
        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 14px;
          border: 1px solid var(--border_gray);
          box-sizing: border-box;
          content: '';
        }
      }
    }
  }
}

.vod-bottom {
  padding: 8px;
  border: 1px solid var(--border_gray);

  display: flex;
  justify-content: space-between;

  .vod-info {
    .vod-title {
      font-weight: 600;
      font-size: 18px;
    }

    .vod-desc {
      font-size: 16px;
    }
  }
}

textarea {
  overflow: hidden;
}

.vod-detail-comments-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;

  .comment-headline {
    margin: 0;
    margin-top: 16px;
    background: var(--border_gray);
  }

  .cInputs-wrapper {
    display: none;

    textarea {
      padding-left: 4px;
      font-size: 12px;
      padding: 0;
      resize: none;
      font-weight: 300;
      border: none;
      width: 100%;

      &:focus {
        outline: none !important;
        border-color: var(--color-main);
      }

      border:1px solid var(--border_gray);
    }

    button {
      border: 1px solid var(--border_gray);
      padding: 4px 8px;
      border-radius: 0.25rem;
    }
  }

  .new-input-wrapper {
    min-height: 35px;
    display: flex;

    .new-input {
      width: 80%;
      padding-left: 4px !important;
      font-size: 12px;
      padding: 0;
      resize: none;
      font-weight: 300;
      border: none;

      &:focus {
        outline: none !important;
        border-color: var(--color-main);
      }

      border:1px solid var(--border_gray);
    }

    // 등록 버튼
    button {
      width: 20%;
      background: var(--color-main);
      border: none;
      font-size: 12px;
      font-weight: 400;
      padding-left: 1.2em;
    }
  }

  .btn-submit {
    background: var(--color-main);
    color: var(--white);
  }

  .btn-cancel {
    margin-right: 8px;
  }

  .comment-wrapper {
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border_gray);

    &.child-wrapper {
      position: relative;
      padding-top: 20px;

      padding: 20px 16px 16px 42px;
      background: #f1f1f1;

      .child-icon {
        position: absolute;
        left: 16px;
      }
    }

    .comment-header {
      .comment-name {
        font-size: 12px;
        font-weight: 600;
      }

      .my-comment {
        color: var(--color-main);
      }

      display: flex;
      justify-content: space-between;

      .dropdown .dropdown_button {
        color: var(--description_gray);

        &:focus {
          outline: none !important;
          border-color: var(--color-main) !important;
        }
      }

      .cancel-save {
        width: 63px;
        display: flex;
        justify-content: space-between;

        .cancel-save-division {
          color: var(--description_gray);
        }
      }
    }

    .comment-body {
      textarea {
        font-size: 12px;
        padding: 0;
        resize: none;
        font-weight: 300;
        border: none;
        width: 100%;
      }

      .parent-textarea {
        background-color: transparent;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--color-main);
        }

        border:1px solid var(--border_gray);
      }

      .child-textarea {
        background-color: #f1f1f1;
        padding-left: 4px;

        &:disabled {
          padding-left: 0;
          border: none;
        }

        &:focus {
          outline: none !important;
          border-color: var(--color-main);
        }

        border:1px solid transparent;
      }
    }

    .comment-date {
      font-size: 12px;
      color: #a0a0a0;
      font-weight: 300;
      padding-bottom: 8px;
    }

    .open-reply-wrapper {
      button {
        border: 1px solid var(--border_gray);
        padding: 4px 8px;
        border-radius: 0.25rem;
      }
    }
  }
}

@media screen and (max-width : 991px) {
  .lecture .speakers .speaker {
    flex-basis: 100%;
  }
}

@media screen and (max-width : 767px) {
  .title-wrapper .vod {
    .vod-title-label {
      width: 100%;
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
  }
}
