<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <ng-container *ngIf="rooms">
        <app-program-nav [isVodDetail]="true" [rooms]="rooms" [selected]="selected"
          (setDateFn)="setAgendaList($event, rooms[0])" (setRoomFn)="setAgendaList(selected.date, $event)">
        </app-program-nav>
      </ng-container>

      <div class="title-wrapper mb-0" *ngIf="agenda">
        <h2 class="vod">
          <span class="agenda-date" [innerHTML]="agenda.date.date"></span>
          <!-- <span class="mb-0 agenda-parent-title" *ngIf="parentAgenda" [innerHTML]="parentAgenda.subTitle"></span> -->
          <span class="agenda-title"
            [innerHTML]="agenda.subTitleMultilingual?agenda.subTitleMultilingual[curLang]:agenda.subTitle"></span>
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner" *ngIf="agenda">
        <ng-container *ngIf="curLang">
          <app-player-vod [curLang]="curLang" [content]="content" [vodId]="agendaId"></app-player-vod>
        </ng-container>

        <div class="vod-bottom" *ngIf="agenda.descriptionMultilingual">
          <div class="vod-info">
            <div class="vod-desc" [innerHtml]="agenda.descriptionMultilingual[curLang]">
            </div>
          </div>
        </div>

        <div class="banners-wrapper" *ngIf="banners.length">
          <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
          <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
            [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 0 }" [manageImageRatio]="true"
            [showArrow]="false" (imageClick)="imageClick($event)">
          </ng-image-slider>
          <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
            <img src="assets/img/ic_dropdown_class_up.png">
          </div>
        </div>

        <!-- ! 댓글 -->
        <div class="vod-detail-comments-wrapper" *ngIf="agenda.comments">
          {{'vod.comments' | translate }} {{ agenda.comments.count }}
          <!-- ! 새 댓글 -->
          <div class="new-input-wrapper">
            <textarea class="new-input" type="text" placeholder="질문을 남겨주세요." [(ngModel)]="newInput"
              style="min-height: 54px;" autosize>
            </textarea>
            <button class="btn btn-primary" (click)="createComment()">{{'vod.add' | translate}}</button>
          </div>
          <div *ngIf="!agenda.comments.commentList.length; else commentList">
            <!-- 댓글이 없습니다. -->
          </div>
          <ng-template #commentList>
            <hr class="comment-headline">
            <ng-container *ngFor="let comment of agenda.comments.commentList">
              <!-- 부모 댓글 List -->
              <div class="comment-wrapper">
                <div class="comment-header">
                  <div class="comment-name" [ngClass]="{'my-comment': comment.memberId === user.id}">
                    {{comment.memberFirstName?comment.memberFirstName+' ':''}}{{comment.memberMiddeName?comment.memberMiddeName+' ':''}}{{comment.memberName}}
                  </div>

                  <div class="dropdown" *ngIf="!isModify('pInput_'+comment.id) && user && user.id === comment.memberId">
                    <button class="dropdown_button" type="button" [id]="'pDrop_'+comment.id" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path
                          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                      </svg>
                    </button>
                    <div class="dropdown-menu" [attr.aria-label]="'pDrop_'+comment.id">
                      <button class="dropdown-item" type="button" (click)="modify('pInput_'+comment.id)">수정</button>
                      <button class="dropdown-item" type="button" *ngIf="!comment.children.length"
                        (click)="remove(comment.id)">삭제</button>
                    </div>
                  </div>

                  <div *ngIf="isModify('pInput_'+comment.id)" class="cancel-save">
                    <div class="cursor-pointer" (click)="cancel()">취소</div>
                    <div class="cancel-save-division">|</div>
                    <div class="cursor-pointer" (click)="update(comment.id, 'parent')">저장</div>
                  </div>
                </div>

                <!-- ! 작성된 댓글 -->
                <div class="comment-body">
                  <textarea class="parent-textarea" [value]="comment.description" [disabled]="true"
                    [id]="'pInput_'+comment.id" autosize></textarea>
                </div>

                <div class="comment-date">
                  {{comment.createdAt | date: "yyyy.MM.dd HH:mm"  }}
                </div>
                <div *ngIf="comment.level === 0" class="open-reply-wrapper">
                  <button (click)="openReply(comment.id)">답글</button>
                </div>
              </div>

              <!-- ! 새 답글 -->
              <div class="comment-wrapper cInputs-wrapper" [id]="'cInput_wrapper_'+comment.id">
                <textarea type="text" value="" [id]="'cInput_'+comment.id" autosize rows="1"></textarea>
                <button (click)="cancel()" class="btn-cancel">취소</button>
                <button class="btn-submit" (click)="createComment(comment.id)">{{'vod.add' | translate}}</button>
              </div>

              <!-- ! 답글 리스트 -->
              <ng-container *ngFor="let child of comment.children">
                <div class="comment-wrapper child-wrapper">
                  <span class="child-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                      class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z" />
                    </svg>
                  </span>
                  <div class="comment-header">
                    <div class="comment-name" [ngClass]="{'my-comment': child.memberId === user.id}">
                      {{child.memberFirstName?child.memberFirstName+' ':''}}{{child.memberMiddeName?child.memberMiddeName+' ':''}}{{child.memberName}}
                    </div>

                    <div class="dropdown" *ngIf="!isModify('cInput_'+child.id) && user && user.id === child.memberId">
                      <button class="dropdown_button" type="button" [id]="'cDrop_'+child.id" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                          <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                      </button>
                      <div class="dropdown-menu" [attr.aria-label]="'cDrop_'+child.id">
                        <button class="dropdown-item" type="button" (click)="modify('cInput_'+child.id)">수정</button>
                        <button class="dropdown-item" type="button" (click)="remove(child.id)">삭제</button>
                      </div>
                    </div>

                    <div *ngIf="isModify('cInput_'+child.id)" class="cancel-save">
                      <div class="cursor-pointer" (click)="cancel()">
                        취소
                      </div>
                      <div class="cancel-save-division">|</div>
                      <div class="cursor-pointer" (click)="update(child.id, 'child')">
                        저장
                      </div>
                    </div>
                  </div>
                  <!-- ! 작성된 답글 -->
                  <div class="comment-body">
                    <textarea class="child-textarea" [value]="child.description" [disabled]="true"
                      [id]="'cInput_'+child.id" autosize>
                    </textarea>
                  </div>
                  <div class="comment-date">
                    {{child.createdAt | date: "yyyy.MM.dd HH:mm"  }}
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-template>
        </div>

        <div class="back-to-list">
          <button (click)="goBack()">BACK TO LIST</button>
        </div>
      </div>
    </article>
  </div>
</div>
