.join-us-wrapper {
  position: relative;
  top: -86px;


  .img-join-us-top {
    display: flex;
    justify-content: center;

    img {
      max-width: 107px;
    }
  }

  h2 {
    font-size: 40px;

    &.join-us {
      margin-bottom: 18px;
      font-size: 42px;
      font-weight: 300 !important;

      .bold {
        font-weight: 600 !important;
      }
    }
  }

  .join-us-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text-div {
      p {
        line-height: 30px;
        font-size: 22px;
        color: var(--text-gray);
        font-weight: 200;
      }
    }

    .btn-div {
      flex: 0.5;

      .go-timetable {
        cursor: pointer;
        width: 100%;
        height: 48px;
        font-size: 16px;
        position: relative;
        border-radius: 24px;
        background: #138A90;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 166px;
      }
    }

    margin-bottom:67px;
  }

 

}
