<div class="join-us-wrapper">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="img-join-us-top">
        <img src="../../../../assets/img/custom-ica/joinus-top.png">
      </div>
      <div class="title-wrapper center">
        <h2 class="join-us">Join us at the <span class="bold">WCC in 2021</span></h2>
      </div>
    </div>
    <article class="join-us-article">
      <div class="text-div">
        <p class="text-center">
          Join us at the World Cooperative Congress in 2021<br>
          to showcase how our cooperative identity<br>
          will help us rebuild better together and overcome crises with<br>
          solidarity and resilience.
        </p>
        <p class="text-center">
          This hybrid event will allow us to continue<br>
          our cooperative connections, share our stories on<br>
          our commitment to the communities we serve and expand our reach.
        </p>
      </div>
    </article>

  </div>
</div>
