.search-wrapper {
  text-align: right;

  .select-box {
    width: 170px;
  }

  @media(max-width: 575px) {

    .search-input {
      width: 100%;
      max-width: 100%;
    }
  }
}

.category-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  gap: 10px;

  .category-item {
    max-width: 595px;
    flex: 1;
    height: 100px;
    border-radius: 8px;
    background: #EBE9EA;
    color: #848484;
    font-size: 18px;
    transition: all 0.3s linear;

    &.active,
    &:hover {
      color: var(--white);
      background: transparent linear-gradient(288deg, #8C1558 0%, #A31F52D0 60%, #EC9A12D5 140%, #F4A90C 100%) 0% 0% no-repeat padding-box;

      &:before {
        opacity: 1;
      }
    }
  }
}

.poster-list-table {
  width: 100%;
  border: 1px solid var(--gray);

  th {
    text-align: center;
  }

  th,
  td {
    padding: 2px 8px;
    font-weight: bold;
  }

  th {
    height: 42px;
    background: #183963;
    color: var(--white);
    font-size: 14px;
  }

  td {
    cursor: pointer;
    height: 54px;
    background: var(--white);
    border-bottom: 1px solid var(--gray);

    font-size: 15px;
  }

  tr:hover {
    td {
      background: var(--gray2);
      transition: all 0.3s linear;
    }
  }

  @media screen and (max-width: 575px) {
    th {
      font-size: 13px;
    }

    td {
      font-size: 12px;
    }
  }
}

@media(max-width: 767px) {
  .search-wrapper {
    text-align: left;
  }
}

@media(max-width: 575px) {

  .search-wrapper {
    .select-box {
      display: block;
      width: 100%;
      margin-bottom: 8px;
    }
  }
}
