<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <!-- <div class="title-wrapper">
        <h2>Posters</h2>
      </div> -->
      <!-- 검색 -->
      <div class="category-wrapper">
        <ng-container *ngFor="let category of allCategories; let i = index">
          <button class="btn category-item" [ngClass]="{'active': i === curCategory}" (click)="setCategory(i)" [innerHTML]="category.categoryNameMultilingual?category.categoryNameMultilingual[curLang]:category.categoryName">
          </button>
        </ng-container>
      </div>

      <!-- <div class="search-wrapper">
        <input type="text" class="form-control search-input" placeholder="Search by Abstract No. / Title / Author"
          [(ngModel)]="searchText" (keyup.enter)="search()">
      </div> -->

      <table class="poster-list-table">
        <colgroup>
          <col style="width:10%">
          <col style="width:60%">
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:10%">
        </colgroup>
        <thead>
          <th>Index</th>
          <th>Title</th>
          <th>Date</th>
          <th>Writer</th>
          <th>Views</th>
        </thead>
        <tbody>
          <tr *ngFor="let poster of posters; let i = index" (click)="goDetail(poster.id)">
            <td class="text-center">{{i+1}}</td>
            <td class="title" [innerHTML]="poster.titleMultilingual?poster.titleMultilingual[curLang]:poster.title"></td>
            <td class="text-center">{{poster.createdAt | date: 'yyyy-MM-dd'}}</td>
            <td class="text-center">ADMIN</td>
            <td class="view-count text-center">{{poster.viewCount || 0}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
