@import '../document.component.scss';

label {
  margin-bottom: 0;
}

.document-write-body {
  .document-write-form {
    .row {
      margin-bottom: 16px;
    }


    .attachment-wrapper {
      width: 240px;
      margin-right: 4px;

      input {
        width: 200px;
      }

      .btn-remove {
        cursor: pointer;
        width: 10px;
      }
    }


    .txt-current {
      font-weight: 600;
      color: var(--gray25);
      font-size: 1.3rem;
    }

    .document-form-label {
      color: var(--gray25);
      font-size: 1.3rem;
      font-weight: 600;
      text-align: center;
      align-self: center;
    }

    .document-btn-wrapper {
      margin: 0;
      align-self: center;

      .document-btn {
        margin-right: 16px;
        background: var(--gray2);
        color: var(--gray25);
      }
    }

    input[type="radio"]:checked+label,
    input[type="checkbox"]:checked+label {
      .document-btn {
        background: var(--navy);
        color: var(--white);
      }
    }

    input[type="text"],
    textarea {
      padding: 16px;
      font-size: 1.2rem;
      // border: none;
      // border-radius: 0;
      // box-shadow: none;
    }

    input[type="text"] {
      min-height: 40px;
    }

    textarea {
      height: 256px;
    }
  }

  .document-write-form-footer {

    .document-writer-info-col {
      padding: 16px;
      background: var(--white);

      .document-writer-info {
        max-width: 612px;
      }
    }
  }
}

.document-write-footer {
  padding: 40px 0;

  .document-btn-wrapper {
    display: inline-flex;
    justify-content: center;
    width: 100%;

    .document-btn {
      background: var(--color-main);
      color: var(--white);
      margin: 0 8px;
      display: inline-block;
      border-width: 0;
    }
  }
}

@media(max-width: 991px) {
  .document-write-body {
    .document-write-form {
      .document-form-label {
        margin-bottom: 8px;
        text-align: left;
      }
    }
  }
}

@media(max-width: 767px) {
  .document-write-body {
    .document-write-form {
      .document-form-label {
        font-size: 1.2rem;
      }

      .document-btn-wrapper {
        .document-btn {
          margin-right: 8px;
        }
      }

      input[type="text"],
      textarea {
        padding: 8px 16px;
        font-size: 1.1rem;
      }

      input[type="text"] {
        min-height: 34px;
      }

      textarea {
        height: 200px;
      }
    }

    .document-write-form-footer {
      .document-writer-info-col {

        .document-writer-info {
          width: 100%;
          max-width: 450px;
        }
      }
    }
  }
}

@media(max-width: 575px) {
  .document-write-body {
    .document-write-form-footer {
      margin: 0;

      .document-writer-info-col {
        padding: 0;

        .document-writer-info {
          max-width: 100%;

          .row {
            flex-direction: column;
          }

          .col {
            flex: none;
            max-width: 100%;

            input {
              width: 98%;
            }
          }
        }
      }
    }
  }
}
