<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper mb-3">
        <h2>{{pageTitle}}</h2>
      </div>
      <div class="document-write-body">
        <div class="document-write-form">
          <div class="row not-drag">
            <div class="col col-lg-2 col-0 document-form-label">Category</div>
            <div class="col col-lg-10 col-12 document-btn-wrapper d-flex justify-content-between">
              <div>
                <label for="type1">
                  {{categoryName}}
                </label>
              </div>
              <div>
                * : required.
              </div>
            </div>
          </div>
          <form [formGroup]="formGroup">
            <div class="row not-drag">
              <div class="col col-lg-2 col-0 document-form-label">Fix-Top</div>
              <div class="col col-lg-10 col-12 document-btn-wrapper">
                <input type="checkbox" formControlName="isFixed">
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-2 col-0 not-drag document-form-label">* Session Name
                <br>(English)
              </div>
              <div class="col col-lg-10 col-12">
                <input type="text" class="form-control" formControlName="titleEn">
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-2 col-0 not-drag document-form-label">* Session Name
                <br>(Español)
              </div>
              <div class="col col-lg-10 col-12">
                <input type="text" class="form-control" formControlName="titleEs">
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-2 col-0 not-drag document-form-label">* Session Name
                <br>(Français)
              </div>
              <div class="col col-lg-10 col-12">
                <input type="text" class="form-control" formControlName="titleFr">
              </div>
            </div>

            <div class="row">
              <div class="col col-lg-2 col-0 not-drag document-form-label">* Session Name
                <br>(Korean)
              </div>
              <div class="col col-lg-10 col-12">
                <input type="text" class="form-control" formControlName="titleKo">
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-2 col-0 not-drag document-form-label">* Author
              </div>
              <div class="col col-lg-10 col-12">
                <input type="text" class="form-control" formControlName="author">
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col col-lg-2 col-0 not-drag document-form-label">* Attachment
            </div>
            <div class="col col-lg-10 col-12 d-flex">
              <div class="attachment-wrapper">
                <input type="file" class="file-input" id="attachment" (change)="onChange($event)">
                <span class="btn-remove" *ngIf="file" (click)="removeFile()">
                  <i class="icon-close" aria-hidden="true"></i>
                </span>
              </div>
              <div *ngIf="document" class="txt-current-wrapper">
                <span class="txt-current">Current:&nbsp;</span>
                <span>{{document.fileName}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="document-write-footer not-drag">
        <div class="document-btn-wrapper">
          <button class="btn document-btn" type="submit" (click)="submit()">Submit</button>
          <button class="btn document-btn" [routerLink]="'/documents'">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</div>
