<div class="content-body">
  <ng-container *ngIf="dates && rooms && selected">
    <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
      (setRoomFn)="setAgendaList(selected.date, $event)">
    </app-program-nav>
  </ng-container>
  <div class="content-inner">
    <div class="live-player" *ngIf="live && relationId && showPlayer">
      <!-- ! ICA용 날짜, 룸별 유튜브플레이어 다국어 분기 -->
      <app-player-youtube [youtubeUrl]="live" [relationId]="relationId" [curLang]="curLang" [isLive]="true">
      </app-player-youtube>
    </div>
    <div class="zoom-wrapper" *ngIf="isZoom && live">
      <div class="btn-zoom-wrapper">
        <ng-container *ngFor="let zoom of live">
          <a [href]="zoom.url" target="_blank"><button class="btn btn-zoom">{{zoom.textValue}}</button></a>
        </ng-container>
      </div>
      <div class="zoom-description">
        This lecture will be held through ZOOM.<br>
        Please click above the button to join the online Lectures with ZOOM.
      </div>

    </div>

    <!-- 광고 구좌-->
    <div class="banners-wrapper" *ngIf="banners.length > 0">
      <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
      <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="6" [animationSpeed]="2"
        [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 14 }" [manageImageRatio]="true"
        [showArrow]="false" (imageClick)="imageClick($event)">
      </ng-image-slider>
      <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
        <img src="assets/img/ic_dropdown_class_up.png">
      </div>
    </div>
  </div>

  <!-- Agendas 강의 목록 -->
  <div class="program-agendas">
    <div class="content-inner">
      <div *ngFor="let agenda of agendas">
        <div *ngIf="agenda.isSession; else isAgenda">
          <app-session [session]="agenda" [curLang]="curLang" (detailFn)="goDetail($event)"></app-session>
        </div>
        <ng-template #isAgenda>
          <app-agenda [agenda]="agenda" [curLang]="curLang" (detailFn)="goDetail($event)">
          </app-agenda>
          <div *ngIf="agenda.id === '619f6cb965a393001285341e'">
            <hr>
            <b>Main Congress</b>
          </div>

        </ng-template>
      </div>
    </div>
  </div>

  <!-- !프로그램 참조용 테이블 -->
  <!-- <table>
    <thead>
      <tr>
        <th>시간</th>
        <th>제목</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let agenda of agendas">
        <tr *ngIf="agenda.isSession">
          <td>{{agenda.title}}</td>
          <td [innerHTML]="agenda.subTitle"></td>
        </tr>  
      </ng-container>
      
    </tbody>
  </table> -->

</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">Entry modal open</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  data-keyboard="false" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          Notice
        </div>
        <div class="modal-description">
          <p class="text-center">
            Welcome to ICA 2021!<br>
            Please click “Start” button
          </p>
          <hr class="bg-light">
        </div>
        <button type="button" class="btn btn-block confirm-btn" [ngClass]="getAttendance()" data-toggle="modal"
          data-target="#entryAlert" (click)="atndnCheck()">
          {{getAttendance() === 'in' ?'Start':'Exit'}}
        </button>
      </div>
    </div>
  </div>
</div>
