.agenda {
  margin-top: 62px;
  border-top: 1px solid var(--gray7);
}

.back-to-list {
  padding: 64px 0;
  text-align: center;

  button {
    width: 170px;
    height: 40px;
    background: var(--btn_back_bg);
    color: var(--white);
    font-weight: 600;
    border: none;
  }
}
